<div class="container-fluid noowner-information-component breadcrumb">
    <nav class="nav-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">แบบสำรวจข้อมูลสัตว์</li>
            <li class="breadcrumb-item breadcrumb-link" (click)="breadcrumbLink('/survey/animal-no-owner')">รายการขึ้นทะเบียนสัตว์ (ไม่มีเจ้าของ)</li>
            <li class="breadcrumb-item breadcrumb-link" (click)="breadcrumbLink('/survey/animal-no-owner/noowner-information-list', breadcrumbParam)">ข้อมูลแบบสำรวจสัตว์ไม่มีเจ้าของ</li>
            <li class="breadcrumb-item active" aria-current="page">{{titleModal}}</li>
        </ol>
    </nav>     

    <div class="container-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 card mb-3 tab-component-card">
                <form class="form-dialog" name="ContentForm" [formGroup]="ContentForm">
                    <div class="card-body tab-component-card-body">
                        <div class="tab-body">
                            <ul class="nav text-center" role="tablist">
                                <li class="nav-item tab-item tab-header">
                                    <span class="nav-link" href="#add-noowner-information-group" role="tab" data-toggle="tab">{{titleModal}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="add-noowner-information-group">
                                <div class="content-container content-body-form">
                                    <div class="card-body content-card-body content-data-search">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-body">
                                                <div class="form-group-fieldset clear-fix">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                                            <h3> ข้อมูลทั่วไป </h3>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                                            <!-- Row 1 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="surveyDate" class="form-label">วันที่สำรวจ</label>
                                                                                <p-calendar [locale]="lacaleTH" formControlName="surveyDate"  placeholder="วันที่แจ้ง" inputStyleClass="form-calendar-text" panelStyleClass="form-calendar-group" styleClass="form-calendar-panel form-control" inputId="surveyDate" showIcon="true" [dateFormat]="dateTimeFormat" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2040"></p-calendar>
                                                                                <input type="hidden" formControlName="surveyDateHidden" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-component"> 

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group-fieldset clear-fix">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                                            <h3> ข้อมูลผู้สำรวจ </h3>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                                            <!-- Row 1 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="svTitleCode" class="form-label">คำนำหน้าชื่อ</label>
                                                                                <p-dropdown [options]="lookupSvTitle" formControlName="svTitleCode" placeholder="เลิอกคำนำหน้าชื่อ" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="LookupSvTitleChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                                                <input type="text" formControlName="svTitleOther" class="form-control form-control-other" id="svTitleOther" placeholder="อื่นๆ" *ngIf="svTitleOtherBoolean">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="svName" class="form-label">ชื่อ-นามสกุล</label>
                                                                                <input type="text" formControlName="svName" class="form-control" id="svName" placeholder="ชื่อ-นามสกุล">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="svMobileNumber" class="form-label">เบอร์โทรศัพท์</label>
                                                                                <input type="text" formControlName="svMobileNumber" class="form-control" id="svMobileNumber" placeholder="เบอร์โทรศัพท์">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="svEmail" class="form-label">อีเมลล์</label>
                                                                                <input type="text" formControlName="svEmail" class="form-control" id="svEmail" placeholder="อีเมลล์">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group-fieldset clear-fix">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                                            <h3> ข้อมูลสถานที่สำรวจ </h3>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                                            <!-- Row 2 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="svPlaceName" class="form-label">รายละเอียดสถานที่สำรวจ</label>
                                                                                <input type="text" formControlName="svPlaceName" class="form-control" id="svPlaceName" placeholder="รายละเอียดสถานที่สำรวจ">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Row 2 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="svProvince" class="form-label">จังหวัด</label>
                                                                                <p-dropdown [options]="lookupSvProvince" formControlName="svProvinceCode" placeholder="เลิอกจังหวัด" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="LookupSvProviceChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="svDistrict" class="form-label">อำเภอ</label>
                                                                                <p-dropdown [options]="lookupSvDistrict" formControlName="svDistrictCode" placeholder="เลิอกอำเภอ" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="LookupSvDistrictChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="svSubDistrict" class="form-label">ตำบล</label>
                                                                                <p-dropdown [options]="lookupSvSubDistrict" formControlName="svSubdistrictCode" placeholder="เลิอกตำบล" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="LookupSvSubDistrictChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="svZipcode" class="form-label">รหัสไปรษณีย์</label>
                                                                                <input type="text" formControlName="svZipcode" class="form-control" id="svZipcode" placeholder="รหัสไปรษณีย์">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group-fieldset clear-fix">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                                            <h3> ผู้ให้ข้อมูล </h3>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                                            <!-- Row 1 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="titleCode" class="form-label">คำนำหน้าชื่อ</label>
                                                                                <p-dropdown [options]="lookupTitle" formControlName="titleCode" placeholder="เลิอกคำนำหน้าชื่อ" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="LookupTitleChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                                                <input type="text" formControlName="titleOther" class="form-control form-control-other" id="titleOther" placeholder="อื่นๆ" *ngIf="titleOtherBoolean">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="name" class="form-label">ชื่อ-นามสกุล</label>
                                                                                <input type="text" formControlName="name" class="form-control" id="name" placeholder="ชื่อ-นามสกุล">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="mobileNumber" class="form-label">เบอร์โทรศัพท์</label>
                                                                                <input type="text" formControlName="mobileNumber" class="form-control" id="mobileNumber" placeholder="เบอร์โทรศัพท์">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="email" class="form-label">อีเมลล์</label>
                                                                                <input type="text" formControlName="email" class="form-control" id="email" placeholder="อีเมลล์">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Row 1 -->
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-group-panel form-group-footer-panel">  
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
                                                        <div class="form-group clear-fix">
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-button-panel one-btn button-panel">  
                                                                    <button type="submit" class="btn btn-block btn-light btn-save" (click)="ContentSave()">บันทักข้อมูลการสำรวจ</button>

                                                                    <button type="submit" class="btn btn-block btn-light btn-cancel" (click)="ContentReset()">ยกเลิก</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>

                        <!----------  ข้อมูลสัตว์  ----->
                        <div class="tab-body">
                            <ul class="nav text-center" role="tablist">
                                <li class="nav-item tab-item tab-header">
                                    <span class="nav-link" href="#animal-information-group" role="tab" data-toggle="tab">ข้อมูลสัตว์</span>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="animal-information-group">
                                <div class="content-container content-body-form">
                                    <div class="card-body content-card-body content-data-grid">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-body"> 
                                                <div class="content-group-panel clear-fix">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 searchbar">
                                                            
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 searchbar button-panel"> 
                                                            <button type="submit" class="btn btn-block btn-light btn-display-dialog-add-content" (click)="ManageSurveyAnimalInformation()">
                                                            <i class="fa fa-plus" aria-hidden="true"></i> เพิ่มข้อมูลสัตว์
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-data-table-group">  
                                                            <p-table [value]="dataTableObj" (onPage)="paginate($event)" [rows]="pageRows" [lazy]="true" (onLazyLoad)="LoadContentLazy($event)" [paginator]="true" [totalRecords]="totalRecords" [loading]="loading" [responsive]="true">
                                                                <ng-template pTemplate="caption">
                                                                    ข้อมูลสำรวจสัตว์ไม่มีเจ้าของ
                                                                </ng-template>
                                                                <ng-template pTemplate="header">
                                                                    <tr>
                                                                        <th>ลำดับ</th>
                                                                        <th>วันที่เพิ่มข้อมูล</th>
                                                                        <th>ประเภทสัตว์</th>
                                                                        <th>จำนวนสัตว์ทั้งหมด (ตัว)</th>
                                                                        <th>จำนวนสัตว์ฉีดวัคซีนทั้งหมด (ตัว)</th>
                                                                        <th>จำนวนสัตว์ทำหมันทั้งหมด (ตัว)</th>
                                                                        <th>จัดการ</th>
                                                                    </tr>
                                                                </ng-template>
                                                                <ng-template pTemplate="body" let-rowData let-index="rowIndex">
                                                                    <tr>
                                                                        <td class="text-center">
                                                                            <span class="ui-column-title">ลำดับ</span>
                                                                            <span class="text-value">{{index + 1}}</span>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <span class="ui-column-title">วันที่เพิ่มข้อมูล</span>
                                                                            <span class="text-value" *ngIf="rowData.registrationDate != null">{{rowData.registrationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                                                                            <span class="text-value" *ngIf="rowData.registrationDate == null">-</span>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <span class="ui-column-title">ประเภทสัตว์</span>
                                                                            <span class="text-value" *ngIf="rowData.animalType != null">{{rowData.animalType.tname}}</span>
                                                                            <span class="text-value" *ngIf="rowData.animalType == null">-</span>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <span class="ui-column-title">จำนวนสัตว์ทั้งหมด (ตัว)</span>
                                                                            <span class="text-value" *ngIf="rowData.animalAmount != null">{{rowData.animalAmount}}</span>
                                                                            <span class="text-value" *ngIf="rowData.animalAmount == null">-</span>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <span class="ui-column-title">จำนวนสัตว์ฉีดวัคซีนทั้งหมด (ตัว)</span>
                                                                            <span class="text-value" *ngIf="rowData.animalVaccineAmount != null">{{rowData.animalVaccineAmount}}</span>
                                                                            <span class="text-value" *ngIf="rowData.animalVaccineAmount == null">-</span>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <span class="ui-column-title">จำนวนสัตว์ทำหมันทั้งหมด (ตัว)</span>
                                                                            <span class="text-value" *ngIf="rowData.animalCastratedAmount != null">{{rowData.animalCastratedAmount}}</span>
                                                                            <span class="text-value" *ngIf="rowData.animalCastratedAmount == null">-</span>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <span class="text-value" (click)="ActionEditContent(rowData)"><img src="./assets/images/iconfinder_note_edit_bw.png" alt="แก้ไขข้อมูล" class="datatable-icon-action"/></span>
                                                                        </td>
                                                                    </tr>
                                                                </ng-template>
                                                                <ng-template pTemplate="emptymessage">
                                                                    <tr>
                                                                        <td colspan="7" class="emptymessage">
                                                                            ไม่มีรายการ
                                                                        </td>
                                                                    </tr>
                                                                </ng-template>
                                                            </p-table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>  
    </div> 
</div>