@import "../../themes/styles/variables";


.container-fluid{
    width: 100%;
    padding-right: 50px !important;
    padding-left: 50px !important;
    margin-right: auto;
    margin-left: auto;
    min-height: $footer-min-height;
    &.footer-copyright {
        padding-top: 10px;
        padding-bottom: 10px;
        color: $font-footer-color;
        font-family: $ff-title-med;
        font-size: $font-footer-size;
        
        .footer-copyright-info{
            display: block;
            font-size: 12px;
        }

        .footer-contact{
            text-align: right;
            font-size: 12px;
        }

        .footer-copyright-info-sm{
             display: none;
        }
    }
}



.margin-r-15 {
    margin-right: 15px;
}

footer {
    z-index: 100;
    left: 0;
    bottom: 0;
    width: 100%;
}



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 667px) { 
    
    .container-fluid{
        min-height: auto;
        padding-left: 0px !important;
        padding-right: 0px !important;

        .row{
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        &.footer-copyright {
            padding-top: 15px;
            .footer-copyright-info{
               display: none;
            }


            .footer-contact{
                text-align: center;
                font-size: 12px;
            }

            .footer-copyright-info-sm{
                display: block;
                text-align: center;
                font-size: 12px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 20px;
            }
        }
    }
}

/* ----------- iPhone 6+, 7+, 8+, iPhone X ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) { 
    
}

/* ----------- iPad 1, 2, Mini, Air,  3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
    
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 834px) 
  and (max-width: 1112px) {

}


/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1366px) {

}