<div class="container-fluid setting-survey-round-management-component breadcrumb">
    <nav class="nav-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">ตั้งค่าระบบ</li>
            <li class="breadcrumb-item active" aria-current="page">ช่วงเวลาการขึ้นทะเบียนสัตว์</li>
        </ol>
    </nav>     

    <div class="container-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 card mb-3 tab-component-card">
                <div class="card-body tab-component-card-body">

                    <div class="tab-body">
                        <ul class="nav text-center" role="tablist">
                            <li class="nav-item tab-item tab-header">
                                <span class="nav-link" href="#region-management-list" role="tab" data-toggle="tab">ช่วงเวลาการขึ้นทะเบียนสัตว์</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="region-management-list">
                            <div class="content-container content-body-form">
                                <div class="card-body content-card-body content-data-grid">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-body"> 
                                            <div class="content-group-panel clear-fix">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 searchbar">
                                                        
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-9 searchbar button-panel"> 
                                                        <button type="submit" class="btn btn-block btn-light btn-display-dialog-add-content" (click)="ActionCreateContent()">
                                                           <i class="fa fa-plus" aria-hidden="true"></i> เพิ่มช่วงเวลาการขึ้นทะเบียนสัตว์
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-data-table-group">  
                                                        <p-table [value]="dataTableObj" (onPage)="paginate($event)" [rows]="pageRows" [lazy]="true" (onLazyLoad)="LoadContentLazy($event)" [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [loading]="loading" [responsive]="true">
                                                            <ng-template pTemplate="caption">
                                                                ช่วงเวลาการขึ้นทะเบียนสัตว์
                                                            </ng-template>
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                    <th>ลำดับ</th>
                                                                    <th>ชื่อช่วงเวลาการขึ้นทะเบียนสัตว์</th>
                                                                    <th>ปี</th>
                                                                    <th>ลำดับ</th>
                                                                    <th>วันที่เริ่มต้น</th>
                                                                    <th>วันที่สิ้นสุด</th>
                                                                    <th>สถานะการใช้งาน</th>
                                                                    <th>จัดการ</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-rowData let-index="rowIndex">
                                                                <tr [pSelectableRow]="rowData">
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">ลำดับ</span>
                                                                        <span class="text-value">{{index + 1}}</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="ui-column-title">ชื่อช่วงเวลาการขึ้นทะเบียนสัตว์</span>
                                                                        <span class="text-value" *ngIf="rowData.nameTH != null">{{rowData.nameTH}}</span>
                                                                        <span class="text-value" *ngIf="rowData.nameTH == null">-</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">ปีของช่วงเวลาการขึ้นทะเบียนสัตว์</span>
                                                                        <span class="text-value" *ngIf="rowData.roundYear != null">{{rowData.roundYear}}</span>
                                                                        <span class="text-value" *ngIf="rowData.roundYear == null">-</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">ลำดับของช่วงเวลาการขึ้นทะเบียนสัตว์</span>
                                                                        <span class="text-value" *ngIf="rowData.roundNo != null">{{rowData.roundNo}}</span>
                                                                        <span class="text-value" *ngIf="rowData.roundNo == null">-</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">วันที่เริ่มต้น</span>
                                                                        <span class="text-value" *ngIf="rowData.roundStartDate != null &&  rowData.roundEndDate != null">{{rowData.roundStartDate}}</span>
                                                                        <span class="text-value" *ngIf="rowData.roundStartDate == null &&  rowData.roundEndDate == null">-</span>
                                                                        <span class="text-value" *ngIf="rowData.roundStartDate != null &&  rowData.roundEndDate == null">-</span>
                                                                        <span class="text-value" *ngIf="rowData.roundStartDate == null &&  rowData.roundEndDate != null">-</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">วันที่สิ้นสุด</span>
                                                                        <span class="text-value" *ngIf="rowData.roundStartDate != null &&  rowData.roundEndDate != null">{{rowData.roundEndDate}}</span>
                                                                        <span class="text-value" *ngIf="rowData.roundStartDate == null &&  rowData.roundEndDate == null">-</span>
                                                                        <span class="text-value" *ngIf="rowData.roundStartDate != null &&  rowData.roundEndDate == null">-</span>
                                                                        <span class="text-value" *ngIf="rowData.roundStartDate == null &&  rowData.roundEndDate != null">-</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">สถานะการใช้งาน</span>


                                                                        <span class="text-value" *ngIf="(rowData.roundStatus == 'INPROGRESS' || rowData.roundStatus == 'WAITING') && rowData.isActive"><img src="./assets/images/iconfinder_bullet_green.png" alt="ใช้งาน" class="bullet-status"/> เปิดใช้งาน</span>
                                                                        <span class="text-value" *ngIf="rowData.roundStatus == 'TIMEOUT' && rowData.isActive"><img src="./assets/images/iconfinder_bullet_red.png" alt="ไม่ใช้งาน" class="bullet-status"/> ปิดใช้งาน</span>
                                                                        <span class="text-value" *ngIf="!rowData.isActive"><img src="./assets/images/iconfinder_bullet_red.png" alt="ไม่ใช้งาน" class="bullet-status"/> ปิดใช้งาน</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="text-value" (click)="ActionViewContent(rowData)"><img src="./assets/images/iconfinder_view_bw.png" alt="ดูรายละเอียด" class="datatable-icon-action"/></span>
                                                                        <span class="text-value" (click)="ActionEditContent(rowData)" *ngIf="(rowData.roundStatus == 'WAITING' || rowData.roundStatus == 'INPROGRESS') && rowData.isActive"><img src="./assets/images/iconfinder_note_edit_bw.png" alt="แก้ไขข้อมูล" class="datatable-icon-action"/></span>
                                                                        <span class="text-value" (click)="ActionDeleteContent(rowData)" *ngIf="rowData.roundStatus == 'WAITING' && rowData.isActive"><img src="./assets/images/iconfinder_delete_bw.png" alt="ลบข้อมูล" class="datatable-icon-action"/></span>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="emptymessage">
                                                                <tr>
                                                                    <td colspan="8" class="emptymessage">
                                                                        ไม่มีรายการ
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>              
</div>