<div class="container-fluid renew-password-component no-breadcrumb item-center">
    <div class="container-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 card mb-3 tab-component-card">
                 <form class="form-renew-password mt-3" name="renewPasswordForm" [formGroup]="renewPasswordForm">
                    <div class="card-body tab-component-card-body">
                        <div class="tab-body">
                            <ul class="nav text-center" role="tablist">
                                <li class="nav-item tab-item tab-header">
                                    <span class="nav-link nav-header" href="#renew-password" role="tab" data-toggle="tab">ตั้งค่ารหัสผ่านใหม่</span>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="renew-password">
                                <div class="content-container content-body-form">
                                    <div class="card-body content-card-body content-data-search">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-body">
                                                <!-- Row 1 -->
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-group-panel form-group-body-panel">  
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component"> 
                                                                <div class="form-group label-inline clear-fix">
                                                                    <label for="password" class="form-label">รหัสผ่าน</label>
                                                                    <input type="password" class="form-control" id="password" placeholder="รหัสผ่าน">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component"> 
                                                                <div class="form-group label-inline clear-fix">
                                                                    <label for="confirm-password" class="form-label">ยืนยันรหัสผ่าน</label>
                                                                    <input type="password" class="form-control" id="confirm-password" placeholder="ยืนยันรหัสผ่าน">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Row 1 -->
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-group-panel form-group-footer-panel">  
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
                                                                <div class="form-group clear-fix">
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-button-panel one-btn button-panel">  
                                                                            <button type="submit" class="btn btn-block btn-light btn-renew-password">ตกลง</button>

                                                                            <button type="submit" class="btn btn-block btn-light btn-cancel">ยกเลิก</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>