<nav class="navbar navbar-expand-lg navbar-light padding-0 header-theme-bg" role="navigation">
    <a class="navbar-brand" href="#">
        <div class="navbar-brand-panel">
            <img src="./assets/images/logo.png" alt="" class="logo d-inline-block align-top" alt="">
            <div class="brand-name d-inline-block align-top">
                <span>ฐานข้อมูลเพื่อการขึ้นทะเบียนสุนัข-แมว</span>
                <p>Pet Register</p>
            </div>
        </div>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar(display)">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse menu-lg-panel">
        <ul class="navbar-nav">
            <li class="nav-item" [ngClass]="currentPage == 'home' ? 'active' : ''" (click)="navigation('home')">
                <img class="icon" src="./assets/images/icon-menu-1.png" alt="">
                <p>หน้าหลัก</p>
            </li>
            <li class="nav-item dropdown" [ngClass]="
            currentPage == 'information/clinic' 
            || currentPage == 'information/clinic/individual'
            || currentPage == 'information/clinic/individual/register'
            || currentPage == 'information/individual'
            || currentPage == 'information/individual/register' ? 'active' : ''">
                
                
                <a aria-expanded="false" role="button" data-x-sig="PETREG-REGISTER" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="icon" src="./assets/images/icon-menu-2.png" alt="">
                    <p>ลงทะเบียน</p>
                </a>

                <ul role="menu" class="dropdown-menu">
                    <li><a data-x-sig="REG-PET-02" (click)="navigation('information/individual')">ลงทะเบียนบุคคลทั่วไป</a></li>
                    <li><a data-x-sig="REG-PET-03" (click)="navigation('information/clinic')">ลงทะเบียนสถานประกอบการ</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown" [ngClass]="
            currentPage == 'survey/dashboard' 
            || currentPage == 'survey/animal-has-owner' 
            || currentPage == 'survey/animal-no-owner' 
            || currentPage == 'survey/animal-has-owner/owner-information' 
            || currentPage == 'survey/animal-no-owner/noowner-information-list' 
            || currentPage == 'survey/animal-has-owner/owner-information-list'
            || currentPage == 'survey/animal-no-owner/noowner-information'  ? 'active' : ''"> 

                <a aria-expanded="false" role="button" data-x-sig="PETREG-SURVEY" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="icon" src="./assets/images/icon-menu-3.png" alt="">
                    <p>แบบสำรวจ</p>
                </a>

                <ul role="menu" class="dropdown-menu">
                    <li><a data-x-sig="SV-PET-02" (click)="navigation('survey/animal-has-owner')">สัตว์มีเจ้าของ</a></li>
                    <li><a data-x-sig="SV-PET-03" (click)="navigation('survey/animal-no-owner')">สัตว์ไม่มีเจ้าของ</a></li>
                </ul>
            </li>


            <li class="nav-item" [ngClass]="
                currentPage == 'suspicious'  ? 'active' : ''"> 
            
                <a aria-expanded="false" role="button" data-x-sig="PETREG-SUSPICIOUS"  (click)="navigation('suspicious')">
                    <img class="icon" src="./assets/images/icon-menu-4.png" alt="">
                    <p>แจ้งพบสัตว์</p>
                </a>
            </li>
            <li class="nav-item dropdown" [ngClass]="
            currentPage == 'sample/animal-sample-list' 
            || currentPage == 'sample/animal-sample-form' ? 'active' : ''">


                <a aria-expanded="false" role="button" data-x-sig="PETREG-SIMPLE" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="icon" src="./assets/images/icon-menu-5.png" alt="">
                    <p>ส่งตัวอย่าง</p>
                </a>

                <ul role="menu" class="dropdown-menu">
                    <li><a data-x-sig="SP-PET-02" (click)="navigation('sample/animal-sample-list')">รายการส่งตัวอย่าง</a></li>
                </ul>

            </li>    
            <li class="nav-item dropdown" [ngClass]="
            currentPage == 'setting/user-management' 
            || currentPage == 'setting/permission-management'
            || currentPage == 'setting/access-transaction'
            || currentPage == 'setting/region-management'
            || currentPage == 'setting/province-management'
            || currentPage == 'setting/district-management'
            || currentPage == 'setting/subdistrict-management'
            || currentPage == 'setting/department-management'
            || currentPage == 'sample/animal-sample-formaaa' ? 'active' : ''">


                <a aria-expanded="false" role="button" data-x-sig="PETREG-SETTING" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs"> </i>
                    <p>ตั้งค่าระบบ </p>
                </a>
                
                <ul role="menu" class="dropdown-menu">
                    <li><a data-x-sig="ST-PET-01" href="setting/user-management">ผู้ใช้งาน</a></li>
                    <li><a data-x-sig="ST-PET-02" href="setting/permission-management">สิทธิการใช้งาน</a></li>
                    <li><a data-x-sig="ST-PET-03" href="setting/access-transaction">ประวัติการใช้งานระบบ</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a data-x-sig="ST-PET-04" href="setting/region-management">เขตปศุสัตว์</a></li>
                    <li><a data-x-sig="ST-PET-08" href="setting/department-management">หน่วยงาน</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a data-x-sig="ST-PET-09" href="#">จัดการประเภทสัตว์</a></li>
                    <li><a data-x-sig="ST-PET-09" href="#">จัดการสายพันธ์สัตว์</a></li>
                    <li><a data-x-sig="ST-PET-10" href="#">จัดการอาการผิดปกติของสัตว์</a></li>
                    <li><a data-x-sig="ST-PET-10" href="#">จัดการวัตถุประสงค์การเก็บตัวอย่าง</a></li>
                    <li><a data-x-sig="ST-PET-09" href="#">จัดการช่วงเวลาการขึ้นทะเบียนสัตว์</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a data-x-sig="ST-PET-11" href="#">จัดการข่าวประชาสัมพันธ์</a></li>
                    <li><a data-x-sig="ST-PET-12" href="#">จัดการไฟล์เอกสาร</a></li>
                    <li><a data-x-sig="ST-PET-13" href="#">จัดการคลิปวิดีโอ</a></li>
                    <li><a data-x-sig="ST-PET-14" href="#">จัดการหมวดหมู่</a></li>
                </ul>
            </li>
            <li class="nav-item bg-white-menu user-access" [ngClass]="
            currentPage == 'login'
            || currentPage == 'register'
            || currentPage == 'forget-password'
            || currentPage == 'renew-password' ? 'active' : ''" (click)="navigation('login')">



                <img class="icon" src="./assets/images/icon-menu-7-gr.png" alt="">
                <p>เข้าสู่ระบบ</p>

            </li>
        </ul>
    </div>
</nav>


<p-sidebar [(visible)]="display" position="right">

</p-sidebar>