<nav class="navbar navbar-expand-lg navbar-light padding-0 header-theme-bg" role="navigation">
    <a class="navbar-brand" href="#">
        <div class="navbar-brand-panel">
            <img src="./assets/images/logo.png" alt="" class="logo d-inline-block align-top" alt="">
            <div class="brand-name d-inline-block align-top">
                <span>ฐานข้อมูลเพื่อการขึ้นทะเบียนสุนัข-แมว</span>
                <p>Pet Register</p>
            </div>
        </div>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar(display)">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse menu-lg-panel">
        <ul class="navbar-nav">
            <!-- START HOME -->
            <li class="nav-item" [ngClass]="pageGroup == 'HOME' ? 'active' : ''">
                <a aria-expanded="false" role="button" data-x-sig="PETREG-HOME"  (click)="navigation('home')">
                    <img class="icon" src="./assets/images/icon-menu-1.png" alt="">
                    <p>หน้าหลัก</p>
                </a>
            </li>
            <!-- END HOME -->

            <!-- START INFORMATION -->
            <li class="nav-item dropdown" [ngClass]="pageGroup == 'INFORMATION' ? 'active' : ''" *ngIf="memberRole == 'GENERAL_MEMBER'">
                <a aria-expanded="false" role="button" data-x-sig="PETREG-REGISTER" (click)="navigation('information/individual')">
                    <img class="icon" src="./assets/images/icon-menu-2.png" alt="">
                    <p>ลงทะเบียน</p>
                </a>
            </li>

            <li class="nav-item dropdown" [ngClass]="pageGroup == 'INFORMATION' ? 'active' : ''" *ngIf="memberRole == 'CLINIC_MEMBER'">
                <a aria-expanded="false" role="button" data-x-sig="PETREG-REGISTER" (click)="navigation('information/clinic')">
                    <img class="icon" src="./assets/images/icon-menu-2.png" alt="">
                    <p>ลงทะเบียน</p>
                </a>
            </li>
            <!-- END INFORMATION -->

            <!-- START SURVEY -->
            <li class="nav-item dropdown" [ngClass]="pageGroup == 'SURVEY' ? 'active' : ''" *ngIf="memberRole == 'SAO_MEMBER' || memberRole == 'LIVESTOCK_MEMBER' || memberRole == 'VETERINARY_MEMBER'"> 
                <a aria-expanded="false" role="button" data-x-sig="PETREG-SURVEY" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="icon" src="./assets/images/icon-menu-3.png" alt="">
                    <p>แบบสำรวจ</p>
                </a>

                <ul role="menu" class="dropdown-menu dropdown-menu-left">
                    <li><a data-x-sig="SV-SURVEY-02" (click)="navigation('survey/animal-has-owner')">สัตว์มีเจ้าของ</a></li>
                    <li><a data-x-sig="SV-SURVEY-03" (click)="navigation('survey/animal-no-owner')">สัตว์ไม่มีเจ้าของ</a></li>
                </ul>
            </li>
            <!-- END SURVEY -->

            <!-- START SUSPICIOUS -->
            <li class="nav-item" [ngClass]="pageGroup == 'SUSPICIOUS' ? 'active' : ''" *ngIf="memberRole == 'GENERAL_MEMBER' || memberRole == 'CLINIC_MEMBER' || memberRole == 'SAO_MEMBER' || memberRole == 'LIVESTOCK_MEMBER' || memberRole == 'VETERINARY_MEMBER'" > 
                <a aria-expanded="false" role="button" data-x-sig="PETREG-SUSPICIOUS"  (click)="navigation('suspicious')">
                    <img class="icon" src="./assets/images/icon-menu-4.png" alt="">
                    <p>แจ้งพบสัตว์</p>
                </a>
            </li>
            <!-- END SUSPICIOUS -->


            <li class="nav-item dropdown" [ngClass]="pageGroup == 'SAMPLE' ? 'active' : ''" *ngIf="memberRole == 'CLINIC_MEMBER' || memberRole == 'LABORATORY_MEMBER' || memberRole == 'LIVESTOCK_MEMBER' || memberRole == 'VETERINARY_MEMBER'">
                <a aria-expanded="false" role="button" data-x-sig="PETREG-SIMPLE" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="icon" src="./assets/images/icon-menu-5.png" alt="">
                    <p>ส่งตัวอย่าง</p>
                </a>

                <ul role="menu" class="dropdown-menu dropdown-menu-left">
                    <li><a data-x-sig="SP-PET-02" (click)="navigation('sample/animal-sample-list')">รายการส่งตัวอย่าง</a></li>
                </ul>
            </li>    
            <li class="nav-item dropdown" [ngClass]="pageGroup == 'SITTING' ? 'active' : ''" *ngIf="memberRole == 'ADMINISTRATOR'">
                <a aria-expanded="false" role="button" data-x-sig="PETREG-SETTING" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs"> </i>
                    <p>ตั้งค่าระบบ </p>
                </a>
                
                <ul role="menu" class="dropdown-menu dropdown-menu-left">
                    <li><a data-x-sig="ST-SETTING-01" (click)="navigation('setting/user-management')">ผู้ใช้งาน</a></li>
                    <li><a data-x-sig="ST-SETTING-02" (click)="navigation('setting/role-management')">สิทธิการใช้งาน</a></li>
                    <li><a data-x-sig="ST-SETTING-03" (click)="navigation('setting/access-transaction')">ประวัติการใช้งานระบบ</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a data-x-sig="ST-SETTING-04" (click)="navigation('setting/region-management')">เขตปศุสัตว์</a></li>
                    <li><a data-x-sig="ST-SETTING-05" (click)="navigation('setting/department-management')">หน่วยงาน</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a data-x-sig="ST-SETTING-06" href="#">จัดการประเภทสัตว์</a></li>
                    <li><a data-x-sig="ST-SETTING-07" href="#">จัดการสายพันธ์สัตว์</a></li>
                    <li><a data-x-sig="ST-SETTING-08" href="#">จัดการอาการผิดปกติของสัตว์</a></li>
                    <li><a data-x-sig="ST-SETTING-09" href="#">จัดการวัตถุประสงค์การเก็บตัวอย่าง</a></li>
                    <li><a data-x-sig="ST-SETTING-10" href="#">จัดการช่วงเวลาการขึ้นทะเบียนสัตว์</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a data-x-sig="ST-SETTING-11" href="#">จัดการข่าวประชาสัมพันธ์</a></li>
                    <li><a data-x-sig="ST-SETTING-12" href="#">จัดการไฟล์เอกสาร</a></li>
                    <li><a data-x-sig="ST-SETTING-13" href="#">จัดการคลิปวิดีโอ</a></li>
                    <li><a data-x-sig="ST-SETTING-14" href="#">จัดการหมวดหมู่</a></li>
                </ul>
            </li>

            <li class="nav-item bg-white-menu user-access before-sign-on" [ngClass]="pageGroup == 'BEFORE_SIGN_ON' ? 'active' : ''" *ngIf="memberRole == ''">
                <a aria-expanded="false" role="button" data-x-sig="PETREG-BEFORE-SIGN-ON"  (click)="navigation('login')">
                    <img class="icon" src="./assets/images/icon-menu-7.png" alt="">
                    <p>เข้าสู่ระบบ</p>
                </a>
            </li>

            <li class="nav-item dropdown bg-white-menu user-access after-sign-on" [ngClass]="pageGroup == 'AFTER_SIGN_ON' ? 'active' : ''" *ngIf="memberRole != ''">
                <a aria-expanded="false" role="button" data-x-sig="PETREG-AFTER-SIGN-ON" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="icon" src="./assets/images/user-defualt.png" alt="">
                    <p>{{userProfile.username}}</p>
                </a>

                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li><a data-x-sig="ST-AFTER-SIGN-ON-01" (click)="navigation('profile')">ข้อมูลส่วนตัว</a></li>
                    <li><a data-x-sig="ST-AFTER-SIGN-ON-02" (click)="navigation('change-password')">เปลี่ยนรหัสผ่าน</a></li>
                    <li><a data-x-sig="ST-AFTER-SIGN-ON-03" (click)="navigation('access-transaction')">ประวัติการใช้งานระบบ</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a data-x-sig="ST-AFTER-SIGN-ON-04" (click)="signOut()">ออกจากระบบ</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<p-sidebar [(visible)]="display" position="right">

</p-sidebar>