<div class="modal-header item-center">
  <label class="modal-title">ข้อมูลสัตว์เลี้ยง</label>
</div>
<div class="modal-body">
  <form>
    <div class="form-group row">
      <div class="col-sm-4">
        <label for="">ชื่อ</label>
      </div>
      <div class="col-sm-4">
        <label for="">รูปร่างลักษณะ</label>
      </div>
      <div class="col-sm-4">
        <label for="">สี</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <label for="">สายพันธ์</label>
      </div>
      <div class="col-sm-4">
        <label for="">เพศ</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <label for="">ว/ด/ป เกิด</label>
      </div>
      <div class="col-sm-4">
        <label for="">อายุ</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <label for="">ลักษณะการเลี้ยง</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <label for="">สถานที่เลี้ยง</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <label for="">ทำหมัน</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <label for="">ฉัดวัคซีน</label>
      </div>
    </div>
    <div class="form-group-row border-date">
      <div class="col-sm-12">
        <p>1. 31 มีนาคม 2560</p>
        <p>2. 04 เมษายน 2561</p>
        <p>3. 14 เมษายน 2561</p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer item-center">
  <button id="btn-close-modal" type="button" class="btn btn-success btn-block col-md-3">
    ปิด
  </button>
</div>