<div class="container-fluid change-password-component breadcrumb">
    <nav class="nav-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">ข้อมูลส่วนตัว</li>
            <li class="breadcrumb-item active" aria-current="page">เปลี่ยนรหัสผ่าน</li>
        </ol>
    </nav>     

    <div class="container-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 card mb-3 tab-component-card">
                <div class="card-body tab-component-card-body">
                    <div class="tab-body">
                        <ul class="nav text-center" role="tablist">
                            <li class="nav-item tab-item tab-header">
                                <span class="nav-link" href="#change-password-list" role="tab" data-toggle="tab">เปลี่ยนรหัสผ่าน</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="change-password-list">
                            <div class="content-container content-body-form">
                                <form class="form-change-password mt-3" name="changePasswordForm" [formGroup]="changePasswordForm">
                                    <div class="card-body content-card-body content-data-search">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-body"> 
                                                <div class="form-group-fieldset clear-fix">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                                            <h3> ข้อมูลรหัสผ่านปัจจุบัน </h3>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                                            <!-- Row 1 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="oldPassword" class="form-label">รหัสผ่านปัจจุบัน</label>
                                                                                <input type="text" formControlName="oldPassword" class="form-control" id="oldPassword" placeholder="รหัสผ่านปัจจุบัน">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group-fieldset clear-fix">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                                            <h3> ข้อมูลรหัสผ่านใหม่ </h3>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                                            <!-- Row 1 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="newPassword" class="form-label">รหัสผ่านใหม่</label>
                                                                                <input type="text" formControlName="newPassword" class="form-control" id="newPassword" placeholder="รหัสผ่านใหม่">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="confirmNewPassword" class="form-label">ยืนยันรหัสผ่านใหม่</label>
                                                                                <input type="text" formControlName="confirmNewPassword" class="form-control" id="confirmNewPassword" placeholder="ยืนยันรหัสผ่านใหม่">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Row 1 -->
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-group-panel form-group-footer-panel">  
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
                                                        <div class="form-group clear-fix">
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-button-panel one-btn button-panel">  
                                                                    <button type="submit" class="btn btn-block btn-light btn-save" (click)="changePassword()">ตกลง</button>

                                                                    <button type="submit" class="btn btn-block btn-light btn-cancel" (click)="ResetForm()">ยกเลิก</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>              
</div>