<div class="modal-header item-center">
  <label class="modal-title">{{type}}ข้อมูลสัตว์เลี้ยง</label>
</div>
<div class="modal-body">
  <form>
    <div class="form-group row">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputName" placeholder="ชื่อ">
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputName" placeholder="รูปร่างลักษณะ">
      </div>
      <div class="col-sm-4">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>สี</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>สายพันธ์</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-sm-4">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>เพศ</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputPlace" placeholder="วันเกิด">
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputPlace" placeholder="อายุ">
      </div>
      <div class="col-sm-4">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>ลักษณะการเลี้ยง</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>สถานที่เลี้ยง</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-4 pt-0">ทำหมัน</legend>
        <div class="col-sm-4">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              ทำแล้ว
            </label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              ยังไม่ทำ
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-4 pt-0">ฉีดวัคซีน</legend>
        <div class="col-sm-4">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              ฉีดแล้ว
            </label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              ยังไม่ฉีด
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputPlace" placeholder="dd/mm/yyyy">
      </div>
      <div class="col-sm-4 py-1">
        <i class="fa fa-trash-o"></i> Delete
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">เพิ่ม...</label>
    </div>
  </form>
</div>
<div class="modal-footer item-center">
  <button id="btn-close-modal" type="button" class="btn btn-success btn-block col-md-3">
    บันทึก
  </button>
  <button id="btn-confirm-modal" type="button" class="btn btn-light btn-block col-md-3 margin-0">
    ยกเลิก
  </button>
</div>