@import "./../../../themes/styles/variables";

.modal-header{
  .dialog-form-header-body{
    width: 100%;
    .modal-title{
      display: inline-block;
      font-family: $modal-header-font-family;
      font-size: $modal-header-font-size;
    }
    

  }
  
  button{
    &.close{
      padding-top: 18px !important;
      padding-right: 20px;
    }
  }
}

.modal-body{
  .dialog-form-content-body{
    padding-left: 15px;
    padding-right: 15px;
    
    .card-body {
      background-color: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, .125);
      box-shadow: 1px 3px 5px 1px rgba(0,0,0,.05);
      border-radius: 4px;
      margin-bottom: 0px ;

      &.form-dialog-information-card-body{
        background-color: #FFFFFF;
        border: none;
        box-shadow: none;
        border-radius: 0px;
        margin-bottom: 0px;
        padding: 0px;

        .text-box-panel{
          padding-bottom: 30px !important;
          .form-header{
              h3{
                  text-align: left;
                  font-family: $form-group-font-family;
                  font-size: $form-group-font-size;
                  color: $form-group-font-color;
              }
          }
  
          .form-header-line{
              border-bottom: 2px solid #EEEEEE;
              margin-bottom: 30px;
          }
  
          .form-group-panel{
              padding-left: 10px;
              padding-right: 10px;
              margin-bottom: 25px;
  
              .searchbar{
                  &.text-box-panel{
                      text-align: left;
                      padding-bottom: 0px !important;
                      .form-group{
                          width: auto;
                          float: right;
                          padding-top: 4px;
                          .form-control{
                              width: 35%;
                          }
                      }
                  }
  
                  button{
                      i{
                          margin-right: 5px !important;
                      }
                  }
  
                  .btn-block{
                      width: auto;
                  }
  
                  .btn-light{
                      border-color: #EEEEEE !important;
                  }
  
                  .btn-insert-animal-info{
                      padding-left: 40px;
                      padding-right: 40px;
                      padding-top: 10px;
                      padding-bottom: 10px;
                      font-family: $ff-title-narmal;
                      font-size: $form-control-size;
        
                      -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
                      box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
                      border-radius: 4px;
  
                      background: rgba(57, 176, 99, 1);
                      color: #FFFFFF;
                      float: left;
                  }
  
              }
  
              .form-dropdown-panel{
                  min-width: 200px;
                  padding-left: 10px;
                  border-radius: 4px;
                  border: 1px solid #ced4da;
  
                  .form-dropdown-filter{
                      -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
                      box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
                  }
  
                  &.form-control{
                      width: 100% !important;
                      padding: 0px;
                      padding-left: 4px;
                      padding-top: 3px;
                  }
  
                  .ui-dropdown-label{
                      font-family: $ff-title-narmal;
                      font-size: $form-body-font-size;
                      color: $form-body-font-color;
                      
                  }
  
                  .ui-dropdown-items-wrapper{
                      .ui-dropdown-items{
                          .ui-dropdown-item{
                              font-family: $ff-title-narmal;
                              font-size: $form-control-size;
                          }
                      }
                  }
  
              }
  
              .form-group-button{
                  margin-bottom: 10px;
                  padding-left: 34px;
                  padding-right: 34px;
                  padding-top: 50px;
                  button{
                      &.btn-block{
                          width: 0px;
                      }
  
                      
  
                      min-width: 200px !important;
                      padding-top: 10px;
                      padding-bottom: 10px;
                      font-family: $ff-title-narmal;
                      font-size: $form-control-size;
          
                      -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
                      box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
                      border-radius: 4px;
          
                      &.btn-light{
                          border-color: #EEEEEE !important;
                          &.btn-save{
                          background: rgba(57, 176, 99, 1);
                          color: #FFFFFF;
                          float: right;
                          }
          
                          &.btn-cancel{
                          background: #EEEEEE;
                          color: #222222;
                          }
  
                          &:hover:not(.btn-save){
                          background: rgba(57, 176, 99, 0.5);
                          color: #FFFFFF;
                          }
                      }
  
                      i{
                          margin-right: 5px !important;
                      }
                  }
              }
  
              .data-table-group{
                  .ui-table{
                      .ui-table-caption{
                          padding-top: 15px;
                          padding-bottom: 15px;
                          background: $datatable-caption-bg;
                          font-size: $datatable-caption-font-size;
                          font-family: $datatable-caption-font-family;
                          color: $datatable-caption-font-color;
                      }
  
                      .ui-table-wrapper{
                          .ui-table-thead{
                              th{
                                  text-align: center;
                                  background: $datatable-thead-bg;
                                  font-size: $datatable-thead-font-size;
                                  font-family: $datatable-thead-font-family;
                                  color: $datatable-thead-font-color;
                              }
                          }
  
                          .ui-table-tbody{
                              tr{
                                  td{
                                      padding-top: 10px;
                                      padding-bottom: 10px;
                                      text-align: left;
                                      font-size: $datatable-tbody-font-size;
                                      font-family: $datatable-tbody-font-family;
                                      color: $datatable-tbody-font-color;
  
                                      &.emptymessage{
                                          padding-top: 20px;
                                          padding-bottom: 20px;
                                          text-align: center;
                                          font-size: $datatable-tbody-font-size;
                                          font-family: $datatable-tbody-font-family;
                                          color: $datatable-tbody-font-color;
                                      }
                                  }
                              }
                          }
                      }
  
                      .ui-paginator-bottom{
                          &.ui-paginator{
                              text-align: right;
                              .ui-paginator-element{
                                  font-size: $datatable-tbody-font-size;
                                  font-family: $datatable-tbody-font-family;
                                  color: $datatable-tbody-font-color;
                              }
                          }
                      }
                  }
              }
  
              .form-group-title{
                  border-right: 3px solid #EEEEEE;
                  padding-top: 15px;
                  padding-bottom: 20px;
                  h3{
                      font-family: $form-title-font-family;
                      font-size: $form-title-font-size;
                  }
              }
  
              .form-group-body{
                  .form-group-body-panel{
                      padding-left: 0px;
                      padding-right: 0px;
                  }
              }
          }
        }
      }
    }


  }
}

.modal-footer{
  .dialog-form-footer-body{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    
    .card-body {
      margin-bottom: 0px ;
      &.form-animal-information-card-body{
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 4px;
        margin-bottom: 0px;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0px;

        .text-box-panel{
          .form-group-panel{
            .form-group-button{
              button{
                &.btn-block{
                    width: 0px;
                }

                min-width: 200px !important;
                padding-top: 10px;
                padding-bottom: 10px;
                font-family: $ff-title-narmal;
                font-size: $form-control-size;
  
                -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
                box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
  
                &.btn-light{
                  border-color: #EEEEEE !important;
                  &.btn-save{
                    background: rgba(57, 176, 99, 1) !important;
                    color: #FFFFFF;
                    float: right;
                  }
  
                  &.btn-cancel{
                    background: #EEEEEE;
                    color: #222222;
                  }

                  &:hover:not(.btn-save){
                    background: rgba(57, 176, 99, 0.5);
                    color: #FFFFFF;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 667px) { 
    
    .container-fluid {
      width: 100%;
      padding-top: $layout-page-top-sm;
      padding-right: $layout-page-right-sm;
      padding-left: $layout-page-left-sm;
      padding-bottom: $layout-page-bottom-sm;
      margin-right: auto;
      margin-left: auto;
    }
  
  
}

/* ----------- iPhone 6+, 7+, 8+, iPhone X ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) { 
    
  
}

/* ----------- iPad 1, 2, Mini, Air,  3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
    
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 834px) 
  and (max-width: 1112px) {

}


/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1366px) {

}