<div class="modal-header" [ngClass]="status === 'success' ? 'responseSuccess' : (status === 'error' ? 'responseError' : (status === 'info' ? 'responseInfo' : ''))">  <!-- responseError || responseSuccess -->
  <div class="dialog-header-body">
    <h4 class="modal-title">{{title}}</h4>
  </div> 
</div>
<div class="modal-body">
  <div class="dialog-content-body">
    <span> {{description}} </span>
  </div>
</div>
<div class="modal-footer">
  <div class="dialog-footer-body">
    <button type="button" class="btn btn-light btn-response-success" *ngIf="btnOK.isActive && status == 'success' && !btnOK.isRefresh && btnOK.redirectURI == ''" (click)="endProcessOk()">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-success" *ngIf="btnOK.isActive && status == 'success' && !btnOK.isRefresh && btnOK.redirectURI != ''" (click)="redirectURL(btnOK.redirectURI)">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-success" *ngIf="btnOK.isActive && status == 'success' && btnOK.isRefresh && btnOK.redirectURI != ''" (click)="refreshPages()">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-success" *ngIf="btnOK.isActive && status == 'success' && btnOK.isRefresh && btnOK.redirectURI == ''" (click)="refreshPages()">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-error" *ngIf="btnOK.isActive && status == 'error' && !btnOK.isRefresh && btnOK.redirectURI == ''" (click)="endProcessOk()">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-error" *ngIf="btnOK.isActive && status == 'error' && !btnOK.isRefresh && btnOK.redirectURI != ''" (click)="redirectURL(btnOK.redirectURI)">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-error" *ngIf="btnOK.isActive && status == 'error' && btnOK.isRefresh && btnOK.redirectURI != ''" (click)="refreshPages()">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-error" *ngIf="btnOK.isActive && status == 'error' && btnOK.isRefresh && btnOK.redirectURI == ''" (click)="refreshPages()">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-info" *ngIf="btnOK.isActive && status == 'info' && !btnOK.isRefresh && btnOK.redirectURI == ''" (click)="endProcessOk()">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-info" *ngIf="btnOK.isActive && status == 'info' && !btnOK.isRefresh && btnOK.redirectURI != ''" (click)="redirectURL(btnOK.redirectURI)">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-info" *ngIf="btnOK.isActive && status == 'info' && btnOK.isRefresh && btnOK.redirectURI != ''" (click)="refreshPages()">{{btnOK.name}}</button>
    <button type="button" class="btn btn-light btn-response-info" *ngIf="btnOK.isActive && status == 'info' && btnOK.isRefresh && btnOK.redirectURI == ''" (click)="refreshPages()">{{btnOK.name}}</button>



    <button type="button" class="btn btn-light btn-response-success" *ngIf="btnCancel.isActive && status == 'success' && !btnCancel.isRefresh && btnCancel.redirectURI == ''" (click)="endProcessCancel()">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-success" *ngIf="btnCancel.isActive && status == 'success' && !btnCancel.isRefresh && btnCancel.redirectURI != ''" (click)="redirectURL(btnCancel.redirectURI)">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-success" *ngIf="btnCancel.isActive && status == 'success' && btnCancel.isRefresh && btnCancel.redirectURI != ''" (click)="refreshPages()">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-success" *ngIf="btnCancel.isActive && status == 'success' && btnCancel.isRefresh && btnCancel.redirectURI == ''" (click)="refreshPages()">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-error" *ngIf="btnCancel.isActive && status == 'error' && !btnCancel.isRefresh && btnCancel.redirectURI == ''" (click)="endProcessCancel()">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-error" *ngIf="btnCancel.isActive && status == 'error' && !btnCancel.isRefresh && btnCancel.redirectURI != ''" (click)="redirectURL(btnCancel.redirectURI)">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-error" *ngIf="btnCancel.isActive && status == 'error' && btnCancel.isRefresh && btnCancel.redirectURI != ''" (click)="refreshPages()">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-error" *ngIf="btnCancel.isActive && status == 'error' && btnCancel.isRefresh && btnCancel.redirectURI == ''" (click)="refreshPages()">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-info" *ngIf="btnCancel.isActive && status == 'info' && !btnCancel.isRefresh && btnCancel.redirectURI == ''" (click)="endProcessCancel()">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-info" *ngIf="btnCancel.isActive && status == 'info' && !btnCancel.isRefresh && btnCancel.redirectURI != ''" (click)="redirectURL(btnCancel.redirectURI)">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-info" *ngIf="btnCancel.isActive && status == 'info' && btnCancel.isRefresh && btnCancel.redirectURI != ''" (click)="refreshPages()">{{btnCancel.name}}</button>
    <button type="button" class="btn btn-light btn-response-info" *ngIf="btnCancel.isActive && status == 'info' && btnCancel.isRefresh && btnCancel.redirectURI == ''" (click)="refreshPages()">{{btnCancel.name}}</button>
    
<!--
  <button type="button" class="btn btn-light" [ngClass]="status === 'success' ? 'btn-response-success' : (status === 'error' ? 'btn-response-error' : '')" (click)="endProcessClose()">{{btnOK.name}}</button>
-->
    </div>
</div>