@import "../../themes/styles/variables";

.container-fluid {
    width: 100%;
    padding-top: $layout-page-breadcrum-top;
    padding-right: $layout-page-right;
    padding-left: $layout-page-left;
    padding-bottom: $layout-page-bottom;
    margin-right: auto;
    margin-left: auto;
    
    .container-body{
      .row{
        margin-left: 0px;
        margin-right: 0px;
      }
    }
}

.nav-breadcrumb{
  margin-bottom: 20px;
  .breadcrumb{
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
    color: rgba(0,0,0,.4);
    font-size: $layout-page-breadcrum-fontsize;
    font-family: $ff-title-med;
    .breadcrumb-item{
      &:not(:first-child){
        &::before{
          content: ">";
        }
      }

      &.active{
        color: $main-color;
        &::before{
          color: $main-color;
        }
      }
    }
  }
}


.tab-active {
  border-bottom: 5px solid #39B062;
}

.card {
  background-color: unset !important;
  border: unset !important;
  border-radius: unset !important;

  &.tab-suspicious-card{
    padding-left: 0px;
    width: 100%;
  }
}

.card-body {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 1px 3px 5px 1px rgba(0,0,0,.05);
  border-radius: 4px;
  margin-bottom: $layout-card-margin-bottom;

  &.suspicious-card-body{
    background-color: #FFFFFF;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    .text-box-panel{
      padding-bottom: 30px !important;


      .form-group-panel{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 25px;

        // SEARCH BAR
        .searchbar{
          padding-left: 0px;
         
          &.text-box-panel{
              text-align: left;
              padding-bottom: 0px !important;
              padding-right: 0px;
              .form-group{
                  width: auto;
                  float: right;
                  padding-top: 4px;
                  .form-control{
                      width: 35%;
                  }
              }
          }

          button{
              i{
                  margin-right: 5px !important;
              }
          }

          .btn-block{
              width: auto;
          }

          .btn-light{
              border-color: #EEEEEE !important;
          }

          .btn-insert-animal-info{
              padding-left: 40px;
              padding-right: 40px;
              padding-top: 10px;
              padding-bottom: 10px;
              font-family: $ff-title-narmal;
              font-size: $form-control-size;

              -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
              box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
              border-radius: 4px;

              background: rgba(57, 176, 99, 1);
              color: #FFFFFF;
              float: left;
          }
        }

        // DROPDOWN PANEL
        .form-dropdown-panel{
          min-width: 200px;
          padding-left: 10px;
          border-radius: 4px;
          border: 1px solid #ced4da;

          .form-dropdown-filter{
              -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
              box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
          }

          &.form-control{
              width: 100% !important;
              padding: 0px;
              padding-left: 4px;
              padding-top: 3px;
          }

          .ui-dropdown-label{
              font-family: $ff-title-narmal;
              font-size: $form-body-font-size;
              color: $form-body-font-color;
              
          }

          .ui-dropdown-items-wrapper{
              .ui-dropdown-items{
                  .ui-dropdown-item{
                      font-family: $ff-title-narmal;
                      font-size: $form-control-size;
                  }
              }
          }
        }

        // BUTTON PANEL
        .form-group-button{
          margin-bottom: 10px;
          padding-left: 34px;
          padding-right: 34px;
          padding-top: 50px;
          button{
              &.btn-block{
                  width: 0px;
              }

              

              min-width: 200px !important;
              padding-top: 10px;
              padding-bottom: 10px;
              font-family: $ff-title-narmal;
              font-size: $form-control-size;
  
              -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
              box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
              border-radius: 4px;
  
              &.btn-light{
                  border-color: #EEEEEE !important;
                  &.btn-save{
                  background: rgba(57, 176, 99, 1);
                  color: #FFFFFF;
                  float: right;
                  }
  
                  &.btn-cancel{
                  background: #EEEEEE;
                  color: #222222;
                  }

                  &:hover:not(.btn-save){
                  background: rgba(57, 176, 99, 0.5);
                  color: #FFFFFF;
                  }
              }

              i{
                  margin-right: 5px !important;
              }
          }
        }

        // DATATABLE PANEL
        .data-table-group{
          padding-left: 0px !important;
          padding-right: 0px !important;
          .ui-table{
              .ui-table-caption{
                  padding-top: 15px;
                  padding-bottom: 15px;
                  background: $datatable-caption-bg;
                  font-size: $datatable-caption-font-size;
                  font-family: $datatable-caption-font-family;
                  color: $datatable-caption-font-color;
              }

              .ui-table-wrapper{
                  .ui-table-thead{
                      th{
                          text-align: center;
                          background: $datatable-thead-bg;
                          font-size: $datatable-thead-font-size;
                          font-family: $datatable-thead-font-family;
                          color: $datatable-thead-font-color;
                      }
                  }

                  .ui-table-tbody{
                      tr{
                          td{
                              padding-top: 10px;
                              padding-bottom: 10px;
                              text-align: left;
                              font-size: $datatable-tbody-font-size;
                              font-family: $datatable-tbody-font-family;
                              color: $datatable-tbody-font-color;

                              &.emptymessage{
                                  padding-top: 20px;
                                  padding-bottom: 20px;
                                  text-align: center;
                                  font-size: $datatable-tbody-font-size;
                                  font-family: $datatable-tbody-font-family;
                                  color: $datatable-tbody-font-color;
                              }

                              &.col-btn-group{
                                text-align: center;
                                .btn-content{
                                  cursor: pointer;
                                  display: inline-block;
                                }

                                .btn-icon{
                                  font-size:22px;
                                }
                              }
                          }
                      }
                  }
              }

              .ui-paginator-bottom{
                  &.ui-paginator{
                      text-align: right;
                      .ui-paginator-element{
                          font-size: $datatable-tbody-font-size;
                          font-family: $datatable-tbody-font-family;
                          color: $datatable-tbody-font-color;
                      }
                  }
              }
          }
        }
      }
    }
  }

  // TAB PANEL
  &.tab-suspicious-card-body{
    margin-bottom: 0px;
    border: none;
    border-radius:0px;
    border-bottom: none;
    .tab-body{
        padding-left: 15px;
        padding-right: 15px;
        .nav{
            border-bottom: 1px solid #DDDDDD;
            .nav-item{
                &.tab-header{
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-top: 13px;
                    padding-bottom: 8px;
                }

                cursor: pointer;
                .nav-link{
                    font-family: $ff-title-med;
                    font-size: 19px;
                    padding-left: 0px;
                    &.active{
                        color: #39B062;
                    }
                }
            }
        }
    }

    .tab-content{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        .tab-pane{
            .content-container{
                
            }
        }
    }
  }
}


// MODAL CUSTOM WIDTH
.modal-dialog{
    &.modal-lg{
        &.custom-width{
            max-width: 80%;
        }
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 667px) { 

    .container-fluid {
        width: 100%;
        padding-top: $layout-page-top-sm;
        padding-right: $layout-page-right-sm;
        padding-left: $layout-page-left-sm;
        padding-bottom: $layout-page-bottom-sm;
        margin-right: auto;
        margin-left: auto;
    }
}

/* ----------- iPhone 6+, 7+, 8+, iPhone X ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) { 
    
    .container-fluid {
        width: 100%;
        padding-top: $layout-page-top-sm;
        padding-right: $layout-page-right-sm;
        padding-left: $layout-page-left-sm;
        padding-bottom: $layout-page-bottom-sm;
        margin-right: auto;
        margin-left: auto;
    }
}

/* ----------- iPad 1, 2, Mini, Air,  3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
    
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 834px) 
  and (max-width: 1112px) {

}


/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1366px) {

}