<div class="container-fluid">
    <nav class="nav-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">แจ้งพบสัตว์</li>
            <li class="breadcrumb-item active" aria-current="page">รายการทั้งหมด</li>
        </ol>
    </nav>     

    <div class="container-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 card mb-3 tab-suspicious-card">
                <div class="card-body tab-suspicious-card-body">
                    <div class="tab-body">
                        <ul class="nav text-center" role="tablist">
                            <li class="nav-item tab-item tab-header" [ngClass]="tab === 'suspicious-list' ? 'tab-active' : ''">
                                <span class="nav-link" href="#suspicious-list" role="tab" data-toggle="tab" (click)="tabSelected('suspicious-list')">ข้อมูลสัตว์ต้องสงสัย</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="suspicious-list">
                            <div class="content-container">
                                <div class="card-body suspicious-card-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-box-panel"> 
                                            <div class="form-group-panel clear-fix">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 searchbar">
                                                        <button type="submit" class="btn btn-block btn-light btn-insert-animal-info" (click)="ManageAnimalSuspicious()">
                                                           <i class="fa fa-plus" aria-hidden="true"></i> เพิ่มข้อมูลสัตว์ต้องสงสัย
                                                        </button>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-9 searchbar text-box-panel"> 
                                                        <div class="form-group clear-fix">
                                                            <label for="filterAnimal" class="form-label sr-only">เลือกประเภทของสัตว์</label>
                                                            <p-dropdown placeholder="เลือกประเภทสัตว์" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label,value.name" styleClass="form-dropdown-panel form-dropdown-filter" selectId="filterAnimal"></p-dropdown>
                                                        </div>  
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 data-table-group">  
                                                        <p-table [lazy]="true" (onLazyLoad)="LoadContentLazy($event)" [paginator]="true" [rows]="15" [totalRecords]="totalRecords" [loading]="loading" [responsive]="true">
                                                            <ng-template pTemplate="caption">
                                                                ข้อมูลสัตว์ต้องสงสัย
                                                            </ng-template>
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                    <th>ลำดับ</th>
                                                                    <th>วันที่แจ้งพบสัตว์</th>
                                                                    <th>สถานที่พบสัตว์</th>
                                                                    <th>ชื่อ/การติดต่อ ผู้แจ้ง</th>
                                                                    <th>ประเภท/ลักษณะ สัตว์</th>
                                                                    <th>ลักษณะอาการ</th>
                                                                    <th>สถานะ</th>
                                                                    <th>จัดการ</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-rowData>
                                                                <tr>
                                                                    <td>
                                                                        <span class="ui-column-title">ลำดับ</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="ui-column-title">วันที่แจ้งพบสัตว์</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="ui-column-title">สถานที่พบสัตว์</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="ui-column-title">ชื่อ/การติดต่อ ผู้แจ้ง</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="ui-column-title">ประเภท/ลักษณะ สัตว์</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="ui-column-title">ลักษณะอาการ</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="ui-column-title">สถานะ</span>
                                                                    </td>
                                                                    <td>
                                                                       
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="emptymessage">
                                                                <tr>
                                                                    <td colspan="8" class="emptymessage">
                                                                        ไม่มีรายการ
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>              
</div>