@import "../../themes/styles/variables";

.clear-fix{
  clear: both;
}

.item-center {
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
}

.container-fluid {
  width: 100%;
  min-height: calc(100vh - 20vh);
  padding-top: $layout-page-top;
  padding-right: $layout-page-right;
  padding-left: $layout-page-left;
  padding-bottom: $layout-page-bottom;
  margin-right: auto;
  margin-left: auto;
  
  .form-register{
    width: 100%;
    max-width: 745px;
    padding: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    margin: 0 auto;
    background: #FFFFFF;

    .container-body{
      .row{
        margin-left: 0px;
        margin-right: 0px;
        .register-card{
          padding-bottom: 20px !important;
          .text-box-panel{
            padding-bottom: 30px !important;
  
            .form-header{
              h3{
                text-align: left;
                font-family: $form-header-font-family;
                font-size: $form-header-font-size;
                color: $form-header-font-color;

                .logo-images{
                  width: 30px;
                  height: 30px;
                  margin-right: 10px;
                }
              }

              .form-header-line{
                border-bottom: 2px solid #EEEEEE;
                margin-bottom: 30px;
              }
            }

            .form-group{
              width: 100%;
              padding-left: 15px;
              padding-right: 15px;
              .form-label{
                &::after{
                  content: " :";
                }

                width: 34%;
                float: left;
                text-align: left;
                font-family: $form-title-font-family;
                font-size: $form-title-font-size;
                line-height: $form-line-height;
              }

              &.form-control{
                border: none;
                padding-left: 0px;
                margin-bottom: 10px;
              }


              .form-control{
                width: 66%;
                float: left;
                text-align: left;
                margin-bottom: 15px;

                height: $form-control-height;
                font-family: $ff-title-narmal;
                font-size: $form-body-font-size;

                .form-control-radio{
                  cursor: pointer;
                  text-align: left;

                  .ui-radiobutton-box{
                    &.ui-state-active{
                      border-color: #39B062 !important;
                      background-color: #39B062 !important;
                    }
                  }
                }

                .form-control-radio-label{
                  cursor: pointer;
                  margin-right: 20px;
                }
              }
            }
          }

          .button-panel{
            padding-left: 28px;
            padding-right: 28px;
            button{
              padding-top: 10px;
              padding-bottom: 10px;
              font-family: $ff-title-narmal;
              font-size: $form-control-size;

              -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
              box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
              border-radius: 4px;

              &.btn-light{
                border-color: #EEEEEE !important;

                &.btn-register{
                  background: rgba(57, 176, 99, 1);
                  color: #FFFFFF;
                } 

                &.btn-cancel{
                  background: #EEEEEE;
                  color: #222222;
                }

                &:hover:not(.btn-register){
                  background: rgba(57, 176, 99, 0.5);
                  color: #FFFFFF;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 667px) { 

    .container-fluid {
      width: 100%;
      padding-top: $layout-page-top-sm;
      padding-right: $layout-page-right-sm;
      padding-left: $layout-page-left-sm;
      padding-bottom: $layout-page-bottom-sm;
      margin-right: auto;
      margin-left: auto;


      .form-register{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 20px;
    
        .container-body{
          .row{
            .register-card{
              .text-box-panel{
                padding-left: 20px;
                padding-right: 20px;
      
                .form-header{
                  h3{
                    text-align: left;
                    font-family: $form-header-font-family;
                    font-size: $form-header-font-size-responsive;
                    color: $form-header-font-color;
    
                    .logo-images{
                      width: 30px;
                      height: 30px;
                      margin-right: 10px;
                    }
                  }
    
                  .form-header-line{
                    border-bottom: 2px solid #EEEEEE;
                    margin-bottom: 30px;
                  }
                }

                .form-group{
                  width: 100%;
                  display: inline-block;
                  padding-top:0px;

                  &:nth-child(0){
                    margin-bottom: 20px;
                  }

                  .form-label{
                    &::after{
                      content: "";
                    }
    
                    width: 100%;
                    float: none;
                    text-align: left;
                  }
    
                  &.form-control{
                    border: none;
                    padding-left: 0px;
                  }

                  .form-control{
                    width: 100%;
                    float: none;
                    text-align: left;
                    margin-bottom: 0px;
    
                    .form-control-radio{
                      display: inline-block;
                      cursor: pointer;
                      text-align: left;
    
                      .ui-radiobutton-box{
                        &.ui-state-active{
                          border-color: #39B062 !important;
                          background-color: #39B062 !important;
                        }
                      }
                    }
    
                    .form-control-radio-label{
                      cursor: pointer;
                      margin-right: 20px;
                      font-size: 16px;
                      width: 70% !important;
                      padding-bottom: 10px;
                      padding-top: 10px;
                    }
                  }
                }
              }
    
              .button-panel{
                margin-bottom: 10px;
                padding-left: 34px;
                padding-right: 34px;
                button{
                  padding-top: 10px;
                  padding-bottom: 10px;
                  font-family: $ff-title-narmal;
                  font-size: $form-control-size;
    
                  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
                  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.05);
                  border-radius: 4px;
    
                  &.btn-light{
                    border-color: #EEEEEE !important;
                    &.btn-register{
                      background: rgba(57, 176, 99, 1);
                      color: #FFFFFF;
                    }
    
                    &.btn-cancel{
                      background: #EEEEEE;
                      color: #222222;
                    }

                    &:hover:not(.btn-register){
                      background: rgba(57, 176, 99, 0.5);
                      color: #FFFFFF;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
}

/* ----------- iPhone 6+, 7+, 8+, iPhone X ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) { 
    
    .container-fluid {
        width: 100%;
        padding-top: $layout-page-top-sm;
        padding-right: $layout-page-right-sm;
        padding-left: $layout-page-left-sm;
        padding-bottom: $layout-page-bottom-sm;
        margin-right: auto;
        margin-left: auto;
    }
}

/* ----------- iPad 1, 2, Mini, Air,  3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
    
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 834px) 
  and (max-width: 1112px) {

}


/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1366px) {

}