<div class="container">
  <form class="form-register mt-3">
    <div class="form-group row">
      <label for="inputName" class="col-lg-4 col-form-label">ชื่อผู้ใช้งาน <span class="require">*</span></label>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="inputName" placeholder="ชื่อผู้ใช้งาน">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-lg-4 col-form-label">รหัสผ่าน <span class="require">*</span></label>
      <div class="col-lg-8">
        <input type="password" class="form-control" id="inputPassword3" placeholder="รหัสผ่าน">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-lg-4 col-form-label">ยืนยันรหัสผ่าน <span class="require">*</span></label> 
      <div class="col-lg-8">
        <input type="password" class="form-control" id="inputPassword" placeholder="รหัสผ่าน">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-lg-4 col-form-label">อีเมล์ <span class="require">*</span></label>
      <div class="col-lg-8">
        <input type="email" class="form-control" id="inputEmail3" placeholder="อีเมล์">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputTel" class="col-lg-4 col-form-label">เบอร์โทรศัพท์</label>
      <div class="col-lg-8">
        <input type="tel" class="form-control" id="inputTel" placeholder="เบอร์โทรศัพท์">
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-lg-4 pt-0">ประเภท</legend>
        <div class="col-lg-8">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              บุคคลทั่วไป
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              สถานที่ประกอบการบำบัดโรค
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label for="inputplace" class="col-lg-4 col-form-label">ชื่อสถานประกอบการ <span class="require">*</span></label>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="inputplace" placeholder="ชื่อสถานประกอบการ">
      </div>
    </div>
    <div class="row mt-5">
      <div class="d-none d-sm-none d-md-none d-lg-block col-lg-6">
        <button type="submit" class="btn btn-block btn-light">ยกเลิก</button>
      </div>
      <div class="d-none d-sm-none d-md-none d-lg-block col-lg-6">
        <button type="submit" class="btn btn-block btn-theme">สมัคร</button>
      </div>
      <div class="d-md-block d-lg-none col-md-12">
          <button type="submit" class="btn btn-block btn-theme">สมัคร</button>
        </div>
      <div class="d-md-block d-lg-none col-md-12 mt-3">
          <button type="submit" class="btn btn-block btn-light">ยกเลิก</button>
        </div>
        
    </div>
  </form>
</div>