<div class="modal-header">
    <div class="dialog-form-header-body">
        <h4 class="modal-title">{{titleModal}}</h4>
    </div> 
    <button type="button" class="close dialog-form-close pull-right" aria-label="Close" (click)="modalClose()">
        <span aria-hidden="true">&times;</span> 
    </button>
</div>
<div class="modal-body">
    <div class="dialog-content-body-form dialog-animal-suspicious-information">
        <form class="form-dialog mt-3" name="AIForm" [formGroup]="AIForm">
            <div class="card-body dialog-card-body-form">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-box-panel dialog-panel-form">  

                        <div class="form-group-fieldset clear-fix">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                    <h3> ข้อมูลสัตว์ </h3>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 

                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="animalTypeCode" class="form-label">ประเภทสัตว์</label>
                                                        <p-dropdown [options]="lookupAnimalType" formControlName="animalTypeCode" placeholder="เลิอกประเภทสัตว์" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="AnimalTypeCodeChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                        <input type="text" formControlName="animalTypeOther" class="form-control form-control-other" id="animalTypeOther" placeholder="อื่นๆ" *ngIf="animalTypeOtherBoolean">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-8 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="animalName" class="form-label">ชื่อ/อัตลักษณ์ ของสัตว์</label>
                                                        <input type="text" formControlName="animalName" class="form-control" id="animalIdentity" placeholder="ชื่อ/อัตลักษณ์ ของสัตว์">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Row 2 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalGenderTypeCode" class="form-label">เพศของสัตว์</label>
                                                        <p-dropdown [options]="lookupAnimalGenderType" formControlName="animalGenderTypeCode" placeholder="เลิอกเพศของสัตว์" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="AnimalGenderTypeCodeChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalSpeciesCode" class="form-label">สายพันธ์ุของสัตว์</label>
                                                        <p-dropdown [options]="lookupAnimalSpecies" formControlName="animalSpeciesCode" placeholder="เลิอกสายพันธ์ุของสัตว์" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="AnimalSpeciesCodeChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                        <input type="text" formControlName="animalSpeciesOther" class="form-control form-control-other" id="animalSpeciesOther" placeholder="อื่นๆ" *ngIf="animalSpeciesOtherBoolean">
                                                    
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalColorCode" class="form-label">สีของสัตว์</label>
                                                        <p-dropdown [options]="lookupAnimalColor" formControlName="animalColorCode" placeholder="เลิอกสีของสัตว์" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="AnimalColorCodeChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                        <input type="text" formControlName="animalColorOther" class="form-control form-control-other" id="animalColorOther" placeholder="อื่นๆ" *ngIf="animalColorOtherBoolean">
        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Row 2 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group no-header-field custom-middle-row clear-fix">
                                                        <p-checkbox name="isUnknownAge" binary="true" value="true" label="ไม่สามารถระบุอายุได้" [formControl]="AIForm.controls['isUnknownAge']" (onChange)="IsUnknownAgeChange($event)"></p-checkbox>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalAgeYear" class="form-label">อายุสัตว์ (ปี)</label>
                                                        <input type="text" formControlName="animalAgeYear" class="form-control" id="animalAgeYear" placeholder="อายุสัตว์ (ปี)">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalAgeMonth" class="form-label">อายุสัตว์ (เดือน)</label>
                                                        <input type="text" formControlName="animalAgeMonth" class="form-control" id="animalAgeMonth" placeholder="อายุสัตว์ (เดือน)">
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Row 2 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalVaccineHistoryTypeCode" class="form-label">ประวัติการฉีดวัคซีน</label>
                                                        <p-dropdown [options]="lookupVaccineHistoryType" formControlName="animalVaccineHistoryTypeCode" placeholder="เลิอกประวัติการฉีดวัคซีน" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="AnimalVaccineHistoryTypeCodeChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalVaccineAmount" class="form-label">จำนวนครั้งการฉีดวัคซีน</label>
                                                        <input type="text" formControlName="animalVaccineAmount" class="form-control" id="animalVaccineAmount" placeholder="จำนวนครั้งการฉีดวัคซีน">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalLastVaccineDate" class="form-label">วัคซีนครั้งล่าสุดประมาณ</label>
                                                        <p-calendar [locale]="lacaleTH" formControlName="animalLastVaccineDate"  placeholder="วัคซีนครั้งล่าสุดประมาณ" inputStyleClass="form-calendar-text" panelStyleClass="form-calendar-group" styleClass="form-calendar-panel form-control" inputId="animalLastVaccineDate" showIcon="true" [dateFormat]="dateTimeFormat" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2040"></p-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Row 2 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalCastratedHistoryTypeCode" class="form-label">ประวัติการทำหมัน</label>
                                                        <p-dropdown [options]="lookupCastratedHistoryType" formControlName="animalCastratedHistoryTypeCode" placeholder="เลิอกประวัติการทำหมัน" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="AnimalCastratedHistoryTypeCodeChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalCastratedAmount" class="form-label">จำนวนครั้งการทำหมัน</label>
                                                        <input type="text" formControlName="animalCastratedAmount" class="form-control" id="animalCastratedAmount" placeholder="จำนวนครั้งการทำหมัน">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalLastCastratedDate" class="form-label">การทำหมันครั้งล่าสุดประมาณ</label>
                                                        <p-calendar [locale]="lacaleTH" formControlName="animalLastCastratedDate"  placeholder="การทำหมันครั้งล่าสุดประมาณ" inputStyleClass="form-calendar-text" panelStyleClass="form-calendar-group" styleClass="form-calendar-panel form-control" inputId="animalLastCastratedDate" showIcon="true" [dateFormat]="dateTimeFormat" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2040"></p-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group-fieldset clear-fix">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                    <h3> รูปภาพสัตว์ </h3>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                    <!-- Row 2 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalImage" class="form-label">แนบไฟล์</label>
                                                        <p-fileUpload styleClass="form-control content-upload-form" name="uploadedFiles[]" 
                                                            (onSelect)="handleFileInput($event)" 
                                                            (onRemove)="removeFileInput($event)" 
                                                            (onClear)="clearFileInput()" 
                                                            chooseLabel="อัพโหลดไฟล์" 
                                                            cancelLabel="ยกเลิก" 
                                                            customUpload="true" 
                                                            showUploadButton="true" 
                                                            multiple="multiple" 
                                                            accept="image/*" 
                                                            maxFileSize="10000000">

                                                            <ng-template pTemplate="content">
                                                                <ul *ngIf="uploadedFiles.length">
                                                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                                                </ul>
                                                            </ng-template>

                                                        </p-fileUpload>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="dialog-form-footer-body">
       <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
            <div class="form-group clear-fix">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-button-panel two-btn button-panel">  
                        <button type="submit" class="btn btn-block btn-light btn-save" (click)="ContentSave()">บันทึก</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-button-panel two-btn button-panel">  
                        <button type="submit" class="btn btn-block btn-light btn-cancel">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>