<div class="modal-header">
    <div class="dialog-form-header-body">
        <h4 class="modal-title">{{titleModal}}</h4>
    </div> 
    <button type="button" class="close dialog-form-close pull-right" aria-label="Close" (click)="modalClose()">
        <span aria-hidden="true">&times;</span> 
    </button>
</div>
<div class="modal-body">
    <div class="dialog-content-body-form dialog-animal-suspicious-information">
        <form class="form-dialog mt-3" name="AIForm" [formGroup]="AIForm">
            <div class="card-body dialog-card-body-form">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-box-panel dialog-panel-form">  

                        <div class="form-group-fieldset clear-fix">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                    <h3> ข้อมูลสัตว์ </h3>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 

                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="animalCategory" class="form-label">ประเภทสัตว์</label>
                                                        <p-dropdown formControlName="animalCategory" placeholder="เลิอกประเภทสัตว์" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label,value.name" styleClass="form-dropdown-panel form-control" selectId="animalCategory"></p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-8 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="animalIdentity" class="form-label">ชื่อ/อัตลักษณ์ ของสัตว์</label>
                                                        <input type="text" formControlName="animalIdentity" class="form-control" id="animalIdentity" placeholder="ชื่อ/อัตลักษณ์ ของสัตว์">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Row 2 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalGender" class="form-label">เพศของสัตว์</label>
                                                        <p-dropdown formControlName="animalGender" placeholder="เลือกเพศของสัตว์" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label,value.name" styleClass="form-dropdown-panel form-control" selectId="animalGender"></p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalSpecies" class="form-label">สายพันธ์ุของสัตว์</label>
                                                        <p-dropdown formControlName="animalSpecies" placeholder="เลือกสายพันธ์ุของสัตว์" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label,value.name" styleClass="form-dropdown-panel form-control" selectId="animalSpecies"></p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalColor" class="form-label">สีของสัตว์</label>
                                                        <p-dropdown formControlName="animalColor" placeholder="เลือกสีของสัตว์" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label,value.name" styleClass="form-dropdown-panel form-control" selectId="animalColor"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Row 3 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="vaccination" class="form-label">การฉีดวัคซีน</label>
                                                        <p-dropdown formControlName="vaccination" placeholder="เลือกการฉีดวัคซีน" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label,value.name" styleClass="form-dropdown-panel form-control" selectId="vaccination"></p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="vaccinationDate" class="form-label">วัคซีนครั้งล่าสุดประมาณ</label>
                                                        <p-calendar [locale]="lacaleTH" formControlName="vaccinationDate"  placeholder="วัคซีนครั้งล่าสุดประมาณ" inputStyleClass="form-calendar-text" panelStyleClass="form-calendar-group" styleClass="form-calendar-panel form-control" inputId="vaccinationDate" showIcon="true" [dateFormat]="dateTimeFormat" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2040"></p-calendar>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="shelterCategory" class="form-label">ประเภทของสถานที่เลี้ยง</label>
                                                        <p-dropdown formControlName="shelterCategory" placeholder="เลือกประเภทของสถานที่เลี้ยง" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label,value.name" styleClass="form-dropdown-panel form-control" selectId="shelterCategory"></p-dropdown>
                                                    </div>                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div> 

                                    <!-- Row 3 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="sterilization" class="form-label">การทำหมัน</label>
                                                        <p-dropdown formControlName="sterilization" placeholder="เลือกการทำหมัน" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label,value.name" styleClass="form-dropdown-panel form-control" selectId="sterilization"></p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="sterilizationDate" class="form-label">การทำหมันครั้งล่าสุดประมาณ</label>
                                                        <p-calendar [locale]="lacaleTH" formControlName="sterilizationDate"  placeholder="การทำหมันครั้งล่าสุดประมาณ" inputStyleClass="form-calendar-text" panelStyleClass="form-calendar-group" styleClass="form-calendar-panel form-control" inputId="sterilizationDate" showIcon="true" [dateFormat]="dateTimeFormat" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2040"></p-calendar>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalBehavior" class="form-label">ลักษณะการเลี้ยง</label>
                                                        <p-dropdown formControlName="animalBehavior" placeholder="เลือกลักษณะการเลี้ยง" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label,value.name" styleClass="form-dropdown-panel form-control" selectId="animalBehavior"></p-dropdown>
                                                    </div>                                         
                                                </div>
                                            </div>
                                        </div>
                                    </div> 

                                    <!-- Row 3 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalAgeYear" class="form-label">อายุสัตว์ (ปี)</label>
                                                        <input type="text" formControlName="animalAgeYear" class="form-control" id="animalAgeYear" placeholder="อายุสัตว์ (ปี)">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalAgeMonth" class="form-label">อายุสัตว์ (เดือน)</label>
                                                        <input type="text" formControlName="animalAgeMonth" class="form-control" id="animalAgeMonth" placeholder="อายุสัตว์ (เดือน)">
                                                    </div>                                                    
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-4 form-component">  
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div> 

                        <div class="form-group-fieldset clear-fix">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                    <h3> รูปภาพสัตว์ </h3>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                    <!-- Row 2 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
                                                    <div class="form-group clear-fix">
                                                        <label for="animalImage" class="form-label">แนบไฟล์</label>
                                                        <p-fileUpload styleClass="form-control content-upload-form" name="uploadedFiles[]" 
                                                            (onSelect)="handleFileInput($event)" 
                                                            (onRemove)="removeFileInput($event)" 
                                                            (onClear)="clearFileInput()" 
                                                            chooseLabel="อัพโหลดไฟล์" 
                                                            cancelLabel="ยกเลิก" 
                                                            customUpload="true" 
                                                            showUploadButton="true" 
                                                            multiple="multiple" 
                                                            accept="image/*" 
                                                            maxFileSize="10000000">

                                                            <ng-template pTemplate="content">
                                                                <ul *ngIf="uploadedFiles.length">
                                                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                                                </ul>
                                                            </ng-template>

                                                        </p-fileUpload>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="dialog-form-footer-body">
       <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
            <div class="form-group clear-fix">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-button-panel two-btn button-panel">  
                        <button type="submit" class="btn btn-block btn-light btn-save">บันทึก</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-button-panel two-btn button-panel">  
                        <button type="submit" class="btn btn-block btn-light btn-cancel">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>