<div class="modal-header">
    <div class="dialog-form-header-body">
        <h4 class="modal-title">{{titleModal}}</h4>
    </div> 
    <button type="button" class="close dialog-form-close pull-right" aria-label="Close" (click)="modalClose()">
        <span aria-hidden="true">&times;</span> 
    </button>
</div>
<div class="modal-body">
    <div class="dialog-form-content-body">
        <form class="form-dialog-information mt-3" name="SAIForm" [formGroup]="SAIForm">
            <div class="card-body form-dialog-information-card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-box-panel">  
                        
                        <div class="form-group-panel clear-fix">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                    <h3> ข้อมูลผู้สำรวจ </h3>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 

                                </div>
                            </div>
                        </div>

                        <div class="form-group-panel clear-fix">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                    <h3> ข้อมูลการสำรวจ </h3>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 

                                </div>
                            </div>
                        </div>

                        <div class="form-group-panel clear-fix">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                    <h3> ข้อมูลผู้ติดต่อ </h3>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 

                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="dialog-form-footer-body">
        <div class="card-body form-animal-information-card-body">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-box-panel">  
                    <div class="form-group-panel clear-fix">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-group-button">  
                                <button type="submit" class="btn btn-block btn-light btn-save">บันทึก</button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-group-button">  
                                <button type="submit" class="btn btn-block btn-light btn-cancel">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>