<div class="container-fluid individual-register-component breadcrumb">
    <nav class="nav-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">ลงทะเบียน</li>
            <li class="breadcrumb-item active" aria-current="page">ข้อมูลเจ้าของสัตว์</li>
        </ol>
    </nav>     

    <div class="container-body">
        <div class="row row-summary-card">
            <!-- Summary Animal -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 card text-center mb-3 summary-card">
                <div class="card-body item-center bg-success summary-card-body">
                    <div class="row summary-card-body-row">
                        <div class="col-12 color-white summary-body">
                            <h3>สรุปจำนวนสัตว์ที่ลงทะเบียน</h3>
                                <span class="mt-0">{{SummaryReport.RegistrationDisplayTotel}} ตัว</span>
                            <hr/>

                            <div class="row">
                                <div class="col-7 col-sm-7 col-md-7 col-lg-7 summary-card-title">
                                    <h3>ลงทะเบียนทั้งหมด (ตัว)</h3>
                                </div>
                                <div class="col-5 col-sm-5 col-md-5 col-lg-5 summary-card-data">
                                    <span class="summary">{{SummaryReport.RegistrationDisplayTotel}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animal 1 -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 card mb-3 summary-animal-card">
                <div class="card-body item-center summary-animal-card-body">
                    <div class="row">
                        <div class="col-5 text-center animal-info">
                            <img src="./assets/images/icon-dog.png" alt="">
                            <h5 class="animal-name">สุนัข</h5>
                        </div>
                        <div class="col-7 item-center animal-summary">
                            <div class="row">
                                <div class="col-12 animal-summary-header">
                                    <h3> ลงทะเบียน (ตัว) </h3>
                                </div>
                                <div class="col-12 animal-summary-data">
                                    <span>{{SummaryReport.RegistrationDogTotel}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animal 2 -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 card mb-3 summary-animal-card">
                <div class="card-body item-center summary-animal-card-body">
                    <div class="row">
                        <div class="col-5 text-center animal-info">
                            <img src="./assets/images/icon-cat.png" alt="">
                            <h5 class="animal-name">แมว</h5>
                        </div>
                        <div class="col-7 item-center animal-summary">
                            <div class="row">
                                <div class="col-12 animal-summary-header">
                                    <h3> ลงทะเบียน (ตัว) </h3>
                                </div>
                                <div class="col-12 animal-summary-data">
                                    <span>{{SummaryReport.RegistrationCatTotel}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 card mb-3 tab-component-card">
                <div class="card-body tab-component-card-body">
                    <div class="tab-body">
                        <ul class="nav text-center" role="tablist">
                            <li class="nav-item tab-item tab-header">
                                <span class="nav-link" href="#individual-information" role="tab" data-toggle="tab">ข้อมูลเจ้าของสัตว์</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="individual-information">

                            <form class="form-content mt-3" name="IDVInfoForm" [formGroup]="IDVInfoForm">
                                <div class="content-container content-body-form">
                                    <div class="card-body content-card-body content-data-search">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-body">
                                                <div class="form-group-fieldset clear-fix">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                                            <h3> ข้อมูลเจ้าของสัตว์ </h3>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                                            <!-- Row 1 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="titleCode" class="form-label">คำนำหน้าชื่อ</label>
                                                                                <p-dropdown [options]="lookupTitle" formControlName="titleCode" placeholder="เลิอกคำนำหน้าชื่อ" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="LookupTitleChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                                                <input type="text" formControlName="titleOther" class="form-control form-control-other" id="titleOther" placeholder="อื่นๆ" *ngIf="titleOtherBoolean">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="name" class="form-label">ชื่อ-นามสกุล</label>
                                                                                <input type="text" formControlName="name" class="form-control" id="name" placeholder="ชื่อ-นามสกุล">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="idCard" class="form-label">เลขที่บัตรประชาชน</label>
                                                                                <input type="text" formControlName="idCard" class="form-control" id="idCard" placeholder="เลขที่บัตรประชาชน">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Row 1 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="mobileNumber" class="form-label">เบอร์โทรศัพท์</label>
                                                                                <input type="text" formControlName="mobileNumber" class="form-control" id="mobileNumber" placeholder="เบอร์โทรศัพท์">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                                            <div class="form-group clear-fix">
                                                                                <label for="email" class="form-label">อีเมลล์</label>
                                                                                <input type="text" formControlName="email" class="form-control" id="email" placeholder="อีเมลล์">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component"> 
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group-fieldset clear-fix">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                                            <h3> ข้อมูลที่อยู่หลัก </h3>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                                            <!-- Row 1 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="addressNo" class="form-label">บ้านเลขที่</label>
                                                                                <input type="text" formControlName="addressNo" class="form-control" id="addressNo" placeholder="บ้านเลขที่">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="moo" class="form-label">หมู่ที่</label>
                                                                                <input type="text" formControlName="moo" class="form-control" id="moo" placeholder="หมู่ที่">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="soi" class="form-label">ซอย</label>
                                                                                <input type="text" formControlName="soi" class="form-control" id="soi" placeholder="ซอย">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="street" class="form-label">ถนน</label>
                                                                                <input type="text" formControlName="street" class="form-control" id="street" placeholder="ถนน">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Row 2 -->
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="province" class="form-label">จังหวัด</label>
                                                                                <p-dropdown [options]="lookupProvince" formControlName="provinceCode" placeholder="เลิอกจังหวัด" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="LookupProviceChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="district" class="form-label">อำเภอ</label>
                                                                                <p-dropdown [options]="lookupDistrict" formControlName="districtCode" placeholder="เลิอกอำเภอ" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="LookupDistrictChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="subDistrict" class="form-label">ตำบล</label>
                                                                                <p-dropdown [options]="lookupSubDistrict" formControlName="subdistrictCode" placeholder="เลิอกตำบล" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="LookupSubDistrictChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-component">  
                                                                            <div class="form-group clear-fix">
                                                                                <label for="zipcode" class="form-label">รหัสไปรษณีย์</label>
                                                                                <input type="text" formControlName="zipcode" class="form-control" id="zipcode" placeholder="รหัสไปรษณีย์">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Row 1 -->
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-group-panel form-group-footer-panel">  
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
                                                        <div class="form-group clear-fix">
                                                            <div class="row">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-button-panel one-btn button-panel">  
                                                                    <button type="submit" class="btn btn-block btn-light btn-save" (click)="ContentSave()">บันทึก</button>

                                                                    <button type="submit" class="btn btn-block btn-light btn-cancel" (click)="ContentReset()">ยกเลิก</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="tab-body">
                        <ul class="nav text-center" role="tablist">
                            <li class="nav-item tab-item tab-header">
                                <span class="nav-link" href="#individual-address-information" role="tab" data-toggle="tab">ข้อมูลสถานที่เลี้ยงสัตว์</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="individual-address-information">
                            <div class="content-container content-body-form">
                                <div class="card-body content-card-body content-data-grid">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-body">
                                            <div class="content-group-panel clear-fix">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 searchbar">
                                                        
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-9 searchbar button-panel"> 
                                                        <button type="submit" class="btn btn-block btn-light btn-display-dialog-add-content" (click)="ManageAnimalAddress(animalOwnerProfileCode)">
                                                           <i class="fa fa-plus" aria-hidden="true"></i> เพิ่มข้อมูลสถานที่เลี้ยงสัตว์
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-data-table-group">  
                                                        <p-table [value]="dataTableObj" (onPage)="paginate($event)" [rows]="pageRows" [lazy]="true" (onLazyLoad)="LoadContentLazy($event)" [paginator]="true" [totalRecords]="totalRecords" [loading]="loading" [responsive]="true">
                                                            <ng-template pTemplate="caption">
                                                                ข้อมูลสถานที่เลี้ยงสัตว์
                                                            </ng-template>
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                    <th>ลำดับ</th>
                                                                    <th>วันที่เพิ่มข้อมูล</th>
                                                                    <th>สถานที่เลี้ยงสัตว์</th>
                                                                    <th>จังหวัด</th>
                                                                    <th>อำเภอ</th>
                                                                    <th>ตำบล</th>
                                                                    <th>จัดการ</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-rowData let-index="rowIndex">
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">ลำดับ</span>
                                                                        <span class="text-value">{{index + 1}}</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">วันที่เพิ่มข้อมูล</span>
                                                                        <span class="text-value" *ngIf="rowData.registrationDate != null">{{rowData.registrationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                                                                        <span class="text-value" *ngIf="rowData.registrationDate == null">-</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="ui-column-title">สถานที่เลี้ยงสัตว์</span>
                                                                        <span class="text-value" *ngIf="rowData.placeName != null || rowData.addressNo != null">
                                                                            <div class="content-description"><b>สถานที่เลี้ยงสัตว์ : {{rowData.placeName}}</b></div>
                                                                            <div class="content-description"><b>บ้านเลขที่ : {{rowData.addressNo}}</b></div>
                                                                            <div class="content-description"><b>ถนน : {{rowData.street}}</b></div>
                                                                        </span>
                                                                        <span class="text-value" *ngIf="rowData.placeName == null && rowData.addressNo == null">-</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">จังหวัด</span>
                                                                        <span class="text-value" *ngIf="rowData.province != null">{{rowData.province.tname}}</span>
                                                                        <span class="text-value" *ngIf="rowData.province == null">-</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">อำเภอ</span>
                                                                        <span class="text-value" *ngIf="rowData.district != null">{{rowData.district.tname}}</span>
                                                                        <span class="text-value" *ngIf="rowData.district == null">-</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="ui-column-title">ตำบล</span>
                                                                        <span class="text-value" *ngIf="rowData.subdistrict != null">{{rowData.subdistrict.tname}}</span>
                                                                        <span class="text-value" *ngIf="rowData.subdistrict == null">-</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="text-value" (click)="ActionEditContent(rowData)"><img src="./assets/images/iconfinder_note_edit_bw.png" alt="แก้ไขข้อมูล" class="datatable-icon-action"/></span>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="emptymessage">
                                                                <tr>
                                                                    <td colspan="7" class="emptymessage">
                                                                        ไม่มีรายการ
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>