<div class="container-fluid home-component no-breadcrumb mt-3">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 card mb-3 filter-card">
      <div class="card-body filter-card-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-9 map-filter-panel">
            <div id='mapsRef' #mapsRef class='mapsRefSummary'>
              <div id="mapsInfo" #mapsInfo class="ol-popup"></div>
            </div>
          </div>
          <div class="col-lg-3 content-filter-panel">
            <div class="row">
              <div class="col-12">
                <h3>ตัวเลือกแสดงข้อมูล</h3>
              </div>
              <div class="col-12">
                <div class="content-filter-container">
                  
                  <button class="btn btn-outline-success active col-lg-6 col-md-6 col-sm-12 col-xs-12">สุนัข</button>
                  <button class="btn btn-outline-success col-lg-6 col-md-6 col-sm-12 col-xs-12">แมว</button>
                  <button class="btn btn-outline-success col-lg-6 col-md-6 col-sm-12 col-xs-12">มีเจ้าของ</button>
                  <button class="btn btn-outline-success col-lg-6 col-md-6 col-sm-12 col-xs-12">ไม่มีเจ้าของ</button>
                 
                </div>
              </div>
              <div class="col-12">
                <h3 class="filter-rule-header">ความหนาแน่นของจำนวนสัตว์ (ตัว)</h3>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-2">
                    <button class="btn btn-success filter-rule-color"></button>
                  </div>
                  <div class="col-10">
                    <span class="filter-rule-text">0 - 5,000 </span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-2">
                    <button class="btn btn-info filter-rule-color"></button>
                  </div>
                  <div class="col-10">
                    <span class="filter-rule-text">5,001 - 10,000 </span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-2">
                    <button class="btn btn-warning filter-rule-color"></button>
                  </div>
                  <div class="col-10">
                    <span class="filter-rule-text">10,001 - 20,000 </span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-2">
                    <button class="btn btn-custom filter-rule-color"></button>
                  </div>
                  <div class="col-10">
                    <span class="filter-rule-text">20,001 - 30,000 </span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-2">
                    <button class="btn btn-danger filter-rule-color"></button>
                  </div>
                  <div class="col-10">
                    <span class="filter-rule-text">มากกว่า 50,000  </span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <h4 class="filter-last-updated">ข้อมูลอัพเดท 1 สิงหาคม 2561</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 card text-center mb-3 mh-card summary-card">
      <div class="card-body bg-success summary-card-body">
        <div class="row">
          <div class="col-12 color-white">
            <h3>สรุปจำนวนสัตว์</h3>
            <span class="mt-0">4,339,210 ตัว</span>
            <hr/>

            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 summary-card-title">
                <h3>มีเจ้าของ (ตัว)</h3>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 summary-card-data">
                <span class="persen">(99.80%)</span><span class="summary">4,208,276</span>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 summary-card-title">
                <h3>ไม่มีเจ้าของ (ตัว)</h3>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 summary-card-data">
                <span class="persen">(0.20%)</span><span class="summary">8,477</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 card mb-3 summary-animal-card">
      <div class="card-body item-center summary-animal-card-body">
        <div class="row">
          <div class="col-5 text-center animal-info">
            <img src="./assets/images/icon-dog.png" alt="">
            <h5 class="animal-name">สุนัข</h5>
          </div>
          <div class="col-7">
            <div class="row">
              <div class="col-12 animal-summary-header">
                <h3> มีเจ้าของ (ตัว) </h3>
              </div>
              <div class="col-12 animal-summary-data">
                <span>39,210</span>
              </div>
            </div>
            <div class="row">
              <div class="col-12 animal-summary-header">
                <h3> ไม่มีเจ้าของ (ตัว) </h3>
              </div>
              <div class="col-12 animal-summary-data">
                <span>1,339,210</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 card mb-3 summary-animal-card">
      <div class="card-body item-center summary-animal-card-body">
        <div class="row">
          <div class="col-5 text-center animal-info">
            <img src="./assets/images/icon-cat.png" alt="">
            <h5 class="animal-name">แมว</h5>
          </div>
          <div class="col-7">
            <div class="row">
              <div class="col-12 animal-summary-header">
                <h3> มีเจ้าของ (ตัว) </h3>
              </div>
              <div class="col-12 animal-summary-data">
                <span>39,210</span>
              </div>
            </div>
            <div class="row">
              <div class="col-12 animal-summary-header">
                <h3> ไม่มีเจ้าของ (ตัว) </h3>
              </div>
              <div class="col-12 animal-summary-data">
                <span>1,339,210</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body tab-card-body">
          <div class="tab-body">
            <ul class="nav text-center" role="tablist">
              <li class="nav-item tab-item" [ngClass]="tab === 'news' ? 'tab-active' : ''">
                <span class="nav-link active" href="#news" role="tab" data-toggle="tab" (click)="tabSelected('news')">ข่าวประชาสัมพันธ์</span>
              </li>
              <li class="nav-item tab-item" [ngClass]="tab === 'file' ? 'tab-active' : ''">
                <span class="nav-link" href="#file" role="tab" data-toggle="tab" (click)="tabSelected('file')">ดาวน์โหลดเอกสาร</span>
              </li>
              <li class="nav-item tab-item" [ngClass]="tab === 'video' ? 'tab-active' : ''">
                <span class="nav-link" href="#video" role="tab" data-toggle="tab" (click)="tabSelected('video')">วีดีโอ</span>
              </li>
            </ul>
          </div>

          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="news">
                <div class="content-container">
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="content-paginate">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><img src="./assets/images/back-arrow.png" width="20px"
                          alt=""></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#"><img src="./assets/images/right-arrow.png" width="20px"
                          alt=""></a></li>
                  </ul>
                </div>


              </div>
              <div role="tabpanel" class="tab-pane" id="file">
              
                <div class="content-container">
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div role="tabpanel" class="tab-pane" id="video">

                <div class="content-container">
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
                    <div class="card-body-custom">
                      <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
                      <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
                        หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
                        โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
                      <div>
                      <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
                      </div>
                    </div>
                  </div>
                </div>

              </div>
          </div>

          
        </div>
      </div>
    </div>
  </div>
</div>