<div class="container-fluid mt-3">

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 card mb-3">
      <div class="card-body padding0 mt-0">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <img src="./assets/images/ex-img-1000x452.jpg" class="wh100" alt="">
          </div>
          <div class="d-none d-sm-none d-md-none d-lg-block col-lg-3">
            <div class="row padding-16">
              <div class="col-12">
                ตัวเลือกแสดงข้อมูล
              </div>
              <div class="col-12 mt-3">
                <button class="btn btn-outline-success">สุนัข</button>
                <button class="btn btn-outline-success">แมว</button>
              </div>
              <div class="col-12 mt-1">
                <button class="btn btn-outline-success">มีเจ้าของ</button>
                <button class="btn btn-outline-success">ไม่มีเจ้าของ</button>
              </div>
              <div class="col-12 mt-3">
                ความหนาแน่นของจำนวนสัตว์
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-2">
                    <button class="btn btn-success wh25"></button>
                  </div>
                  <div class="col-10">
                    0 - 5,000
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-2">
                    <button class="btn btn-info wh25"></button>
                  </div>
                  <div class="col-10">
                    5,001 - 10,000
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-2">
                    <button class="btn btn-warning wh25"></button>
                  </div>
                  <div class="col-10">
                    10,001 - 20,000
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-2">
                    <button class="btn btn-custom wh25"></button>
                  </div>
                  <div class="col-10">
                    20,001 - 30,000
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-2">
                    <button class="btn btn-danger wh25"></button>
                  </div>
                  <div class="col-10">
                    มากกว่า 50,000
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                ข้อมูลอัพเดท 1 สิงหาคม 2561
              </div>
            </div>
          </div>

          <div class="d-none d-sm-none d-md-block d-lg-none">
            <div class="row padding-16">
              <div class="col-6">
                <div class="row padding-l-24">
                  <div class="col-12">
                    ตัวเลือกแสดงข้อมูล
                  </div>
                  <div class="col-12 mt-3">
                    <button class="btn btn-outline-success">สุนัข</button>
                    <button class="btn btn-outline-success">แมว</button>
                  </div>
                  <div class="col-12 mt-1">
                    <button class="btn btn-outline-success">มีเจ้าของ</button>
                    <button class="btn btn-outline-success">ไม่มีเจ้าของ</button>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row padding-l-24 border-left">
                  <div class="col-12">
                    ความหนาแน่นของจำนวนสัตว์
                  </div>
                  <div class="col-12 mt-3">
                    <div class="row">
                      <div class="col-2">
                        <button class="btn btn-success wh25"></button>
                      </div>
                      <div class="col-10">
                        0 - 5,000
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="row">
                      <div class="col-2">
                        <button class="btn btn-info wh25"></button>
                      </div>
                      <div class="col-10">
                        5,001 - 10,000
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="row">
                      <div class="col-2">
                        <button class="btn btn-warning wh25"></button>
                      </div>
                      <div class="col-10">
                        10,001 - 20,000
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="row">
                      <div class="col-2">
                        <button class="btn btn-custom wh25"></button>
                      </div>
                      <div class="col-10">
                        20,001 - 30,000
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="row">
                      <div class="col-2">
                        <button class="btn btn-danger wh25"></button>
                      </div>
                      <div class="col-10">
                        มากกว่า 50,000
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-12 mt-3 text-center">
                ข้อมูลอัพเดท 1 สิงหาคม 2561
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 d-md-none d-lg-none">
            <div class="row padding-16 text-center">
              <div class="col-12">
                ตัวเลือกแสดงข้อมูล
              </div>
              <div class="col-12 mt-3">
                <button class="btn btn-outline-success">สุนัข</button>
                <button class="btn btn-outline-success">แมว</button>
              </div>
              <div class="col-12 mt-1">
                <button class="btn btn-outline-success">มีเจ้าของ</button>
                <button class="btn btn-outline-success">ไม่มีเจ้าของ</button>
              </div>
              <div class="col-12 mt-3">
                ความหนาแน่นของจำนวนสัตว์
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-5 text-right">
                    <button class="btn btn-success wh25"></button>
                  </div>
                  <div class="col-7 text-left">
                    0 - 5,000
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-5 text-right">
                    <button class="btn btn-info wh25"></button>
                  </div>
                  <div class="col-7 text-left">
                    5,001 - 10,000
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-5 text-right">
                    <button class="btn btn-warning wh25"></button>
                  </div>
                  <div class="col-7 text-left">
                    10,001 - 20,000
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-5 text-right">
                    <button class="btn btn-custom wh25"></button>
                  </div>
                  <div class="col-7 text-left">
                    20,001 - 30,000
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-5 text-right">
                    <button class="btn btn-danger wh25"></button>
                  </div>
                  <div class="col-7 text-left">
                    มากกว่า 50,000
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                ข้อมูลอัพเดท 1 สิงหาคม 2561
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 card text-center mb-3 mh-card">
      <div class="card-body item-center bg-success">
        <div class="row">
          <div class="col-12 color-white">
            <div>สรุปจำนวนสุนัข - แมว</div>
            <h2 class="mt-0">4,339,210 ตัว</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 card mb-3">
      <div class="card-body item-center">
        <div class="row">
          <div class="col-6 text-center">
            <img src="./assets/images/icon-dog.png" height="70px" alt="">
            <h5 class="mt-2">สุนัข</h5>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                มีเจ้าของ
              </div>
              <div class="col-8 color-green">
                <h5>39,210</h5>
              </div>
              <div class="col-4 color-green text-right">
                <h5>ตัว</h5>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                ไม่มีเจ้าของ
              </div>
              <div class="col-8 color-green">
                <h5>1,339,210</h5>
              </div>
              <div class="col-4 color-green text-right">
                <h5>ตัว</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 card mb-3">
      <div class="card-body item-center">
        <div class="row">
          <div class="col-6 text-center">
            <img src="./assets/images/icon-cat.png" height="70px" alt="">
            <h5 class="mt-2">แมว</h5>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                มีเจ้าของ
              </div>
              <div class="col-8 color-green">
                <h5>39,210</h5>
              </div>
              <div class="col-4 color-green text-right">
                <h5>ตัว</h5>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                ไม่มีเจ้าของ
              </div>
              <div class="col-8 color-green">
                <h5>1,339,210</h5>
              </div>
              <div class="col-4 color-green text-right">
                <h5>ตัว</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-none d-sm-none d-md-block">
    <div class="col-12">
      <div class="card padding0">
        <div class="card-body padding0">
          <ul class="nav text-center padding-l-20" role="tablist">
            <li class="nav-item padding16" [ngClass]="tab === 'news' ? 'tab-active' : ''">
              <span class="nav-link active" href="#news" role="tab" data-toggle="tab" (click)="tabSelected('news')">ข่าวประชาสัมพันธ์</span>
            </li>
            <li class="nav-item padding16" [ngClass]="tab === 'file' ? 'tab-active' : ''">
              <span class="nav-link" href="#file" role="tab" data-toggle="tab" (click)="tabSelected('file')">ดาวน์โหลดเอกสาร</span>
            </li>
            <li class="nav-item padding16" [ngClass]="tab === 'video' ? 'tab-active' : ''">
              <span class="nav-link" href="#video" role="tab" data-toggle="tab" (click)="tabSelected('video')">วีดีโอ</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-block d-sm-block d-md-none d-lg-none">
    <div class="col-12">
      <div class="card padding0">
        <div class="card-body padding0">
          <ul class="nav text-center" role="tablist">
            <li class="nav-item padding16 border-sm col-12" [ngClass]="tab === 'news' ? 'tab-sm-active' : ''">
              <span class="nav-link active" href="#news" role="tab" data-toggle="tab" (click)="tabSelected('news')">ข่าวประชาสัมพันธ์</span>
            </li>
            <li class="nav-item padding16 border-sm col-12" [ngClass]="tab === 'file' ? 'tab-sm-active' : ''">
              <span class="nav-link" href="#file" role="tab" data-toggle="tab" (click)="tabSelected('file')">ดาวน์โหลดเอกสาร</span>
            </li>
            <li class="nav-item padding16 border-sm col-12" [ngClass]="tab === 'video' ? 'tab-sm-active' : ''">
              <span class="nav-link" href="#video" role="tab" data-toggle="tab" (click)="tabSelected('video')">วีดีโอ</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">

      <div class="row" *ngIf="tab === 'news'">
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 padding0-50">
          <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
          <div class="card-body-custom">
            <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
            <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
              หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
              โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
            <div>
              <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
            </div>
          </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 padding0-50">
          <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
          <div class="card-body-custom">
            <div class="card-title">สธ.เตือนระวังโรคพิษสุนัขบ้าหลังดับแล้ว 3 ราย</div>
            <p class="card-text">นพ.โอภาส การย์กวินพงศ์ รองปลัดกระทรวงสาธารณสุข (สธ.)
              กล่าวถึงสถานการณ์โรคพิษสุนัขบ้าว่า สถานการณ์โรคพิษสุนัข
              บ้าในสัตว์ทางกรมปศุสัตว์ได้ติดตามสถานการณ์
            </p>
            <div>
              <img src="./assets/images/time.jpg" alt=""> 28 มี.ค. 2561
            </div>
          </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 padding0-50">
          <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
          <div class="card-body-custom">
            <div class="card-title">เฝ้าระวัง! ด่านกักนครพนม รับหมาเสี่ยงพิษสุนัขบ้า
              กว่า 3 พันตัวดูแล</div>
            <p class="card-text">นพ.โอภาส การย์กวินพงศ์ รองปลัดกระทรวงสาธารณสุข (สธ.)
              กล่าวถึงสถานการณ์โรคพิษสุนัขบ้าว่า สถานการณ์โรคพิษสุนัข
              บ้าในสัตว์ทางกรมปศุสัตว์ได้ติดตามสถานการณ์
            </p>
            <div>
              <img src="./assets/images/time.jpg" alt=""> 9 เม.ษ. 2561
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="tab === 'file'">
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 padding0-50">
          <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
          <div class="card-body-custom">
            <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
            <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
              หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
              โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
            <div>
              <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
            </div>
          </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 padding0-50">
          <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
          <div class="card-body-custom">
            <div class="card-title">สธ.เตือนระวังโรคพิษสุนัขบ้าหลังดับแล้ว 3 ราย</div>
            <p class="card-text">นพ.โอภาส การย์กวินพงศ์ รองปลัดกระทรวงสาธารณสุข (สธ.)
              กล่าวถึงสถานการณ์โรคพิษสุนัขบ้าว่า สถานการณ์โรคพิษสุนัข
              บ้าในสัตว์ทางกรมปศุสัตว์ได้ติดตามสถานการณ์
            </p>
            <div>
              <img src="./assets/images/time.jpg" alt=""> 28 มี.ค. 2561
            </div>
          </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 padding0-50">
          <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
          <div class="card-body-custom">
            <div class="card-title">เฝ้าระวัง! ด่านกักนครพนม รับหมาเสี่ยงพิษสุนัขบ้า
              กว่า 3 พันตัวดูแล</div>
            <p class="card-text">นพ.โอภาส การย์กวินพงศ์ รองปลัดกระทรวงสาธารณสุข (สธ.)
              กล่าวถึงสถานการณ์โรคพิษสุนัขบ้าว่า สถานการณ์โรคพิษสุนัข
              บ้าในสัตว์ทางกรมปศุสัตว์ได้ติดตามสถานการณ์
            </p>
            <div>
              <img src="./assets/images/time.jpg" alt=""> 9 เม.ษ. 2561
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="tab === 'video'">
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 padding0-50">
          <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
          <div class="card-body-custom">
            <div class="card-title">ชื้อมนุษย์ เชื้อสุนัข</div>
            <p class="card-text">คนไทยรู้เรื่องโรคพิษสุนัขบ้า ถ้าสุนัขกัดข่วนเป็นแผล ต้องรีบไป
              หาหมอฉีดยา แต่รู้ไม่หมดว่า เชื้อนี้ “ตายสถานเดียว” และเชื้อ
              โรคพิษสุนัขบ้า...ความรู้จึงไปไม่ถึงไหนโรคนี้มีในตัวแมว..</p>
            <div>
              <img src="./assets/images/time.jpg" alt=""> 13 มี.ค. 2561
            </div>
          </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 padding0-50">
          <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
          <div class="card-body-custom">
            <div class="card-title">สธ.เตือนระวังโรคพิษสุนัขบ้าหลังดับแล้ว 3 ราย</div>
            <p class="card-text">นพ.โอภาส การย์กวินพงศ์ รองปลัดกระทรวงสาธารณสุข (สธ.)
              กล่าวถึงสถานการณ์โรคพิษสุนัขบ้าว่า สถานการณ์โรคพิษสุนัข
              บ้าในสัตว์ทางกรมปศุสัตว์ได้ติดตามสถานการณ์
            </p>
            <div>
              <img src="./assets/images/time.jpg" alt=""> 28 มี.ค. 2561
            </div>
          </div>
        </div>
        <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 padding0-50">
          <img class="card-img-top" src="./assets/images/ex-img-426x240.jpg" alt="Card image cap">
          <div class="card-body-custom">
            <div class="card-title">เฝ้าระวัง! ด่านกักนครพนม รับหมาเสี่ยงพิษสุนัขบ้า
              กว่า 3 พันตัวดูแล</div>
            <p class="card-text">นพ.โอภาส การย์กวินพงศ์ รองปลัดกระทรวงสาธารณสุข (สธ.)
              กล่าวถึงสถานการณ์โรคพิษสุนัขบ้าว่า สถานการณ์โรคพิษสุนัข
              บ้าในสัตว์ทางกรมปศุสัตว์ได้ติดตามสถานการณ์
            </p>
            <div>
              <img src="./assets/images/time.jpg" alt=""> 9 เม.ษ. 2561
            </div>
          </div>
        </div>
      </div>

      <div class="item-center mt-4 mb-5">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#"><img src="./assets/images/back-arrow.png" width="20px" alt=""></a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#"><img src="./assets/images/right-arrow.png" width="20px" alt=""></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>