<div class="modal-header">
    <div class="dialog-form-header-body">
        <h4 class="modal-title">{{titleModal}}</h4>
    </div> 
    <button type="button" class="close dialog-form-close pull-right" aria-label="Close" (click)="modalClose()">
        <span aria-hidden="true">&times;</span> 
    </button>
</div>
<div class="modal-body">
    <div class="dialog-content-body-form dialog-content-information">
        <form class="form-dialog mt-3" name="ContentForm" [formGroup]="ContentForm">
            <div class="card-body dialog-card-body-form">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-box-panel dialog-panel-form">  
                        <div class="form-group-fieldset clear-fix">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                    <h3> ข้อมูลไฟล์เอกสาร </h3>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 


                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="contentTypeCode" class="form-label">ประเภทของข้อมูล <span class="form-require">*</span></label>
                                                        <p-dropdown [options]="lookupContentTypeCode" formControlName="contentTypeCode" placeholder="เลิอกประเภทของข้อมูล" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="contentTypeCodeChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                    <div class="form-group clear-fix" *ngIf="isContentCategory">
                                                        <label for="contentCategoryCode" class="form-label">หมวดหมู่ของข้อมูล <span class="form-require">*</span></label>
                                                        <p-dropdown [options]="lookupContentCategoryCode" formControlName="contentCategoryCode" placeholder="เลิอกหมวดหมู่ของข้อมูล" [autoWidth]="true" emptyFilterMessage="ไม่มีข้อมูล" [filter]="true" filterBy="label" (onChange)="contentCategoryCodeChange($event)" styleClass="form-dropdown-panel form-control"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="nameTH" class="form-label">ชื่อไฟล์เอกสาร <span class="form-require">*</span></label>
                                                        <input type="text" formControlName="nameTH" class="form-control" id="nameTH" placeholder="ชื่อไฟล์เอกสาร">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="shortText" class="form-label">รายละเอียด (แบบสั้น) <span class="form-require">*</span></label>
                                                        <textarea [rows]="5"  formControlName="shortText" class="form-control custom-textarea" id="shortText" placeholder="รายละเอียด (แบบสั้น)" pInputTextarea autoResize="false"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 

                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component"> 

                                                    <div class="form-group clear-fix">
                                                        <label for="longText" class="form-label">รายละเอียด (ทั้งหมด)</label>
                                                        <app-ngx-editor [config]="editorConfig" [placeholder]="'รายละเอียด (ทั้งหมด)'" id="longText" formControlName="longText"></app-ngx-editor>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 

                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="isPinned" class="form-label">ปักหมุด</label>
                                                        <div>
                                                            <p-checkbox name="isPinned" id="isPinned" binary="true" value="true" label="สามารถปักหมุดได้" [formControl]="ContentForm.controls['isPinned']"></p-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="isActive" class="form-label">สถานะการใช้งาน </label>
                                                        <div>
                                                            <p-checkbox name="isActive" id="isActive" binary="true" value="true" label="สามารถใช้งานได้" [formControl]="ContentForm.controls['isActive']"></p-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="dialog-form-footer-body">
       <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
            <div class="form-group clear-fix">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-button-panel two-btn button-panel" *ngIf="actionForm == 'view'">  
                        <button type="submit" class="btn btn-block btn-light btn-save" (click)="ContentViewToEdit()">แก้ไข</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-button-panel two-btn button-panel" *ngIf="actionForm != 'view'">  
                        <button type="submit" class="btn btn-block btn-light btn-save" (click)="ContentSave()">บันทึก</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-button-panel two-btn button-panel">  
                        <button type="submit" class="btn btn-block btn-light btn-cancel" (click)="ContentReset()">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>