<div class="modal-header">
    <div class="dialog-form-header-body">
        <h4 class="modal-title">{{titleModal}}</h4>
    </div> 
    <button type="button" class="close dialog-form-close pull-right" aria-label="Close" (click)="modalClose()">
        <span aria-hidden="true">&times;</span> 
    </button>
</div>
<div class="modal-body">
    <div class="dialog-content-body-form dialog-content-information">
        <form class="form-dialog mt-3" name="ContentForm" [formGroup]="ContentForm">
            <div class="card-body dialog-card-body-form">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-box-panel dialog-panel-form">  
                        <div class="form-group-fieldset clear-fix">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 form-group-title">  
                                    <h3> ข้อมูลวัตถุประสงค์การเก็บตัวอย่าง </h3>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 form-group-body"> 
                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="nameTH" class="form-label">ชื่อวัตถุประสงค์การเก็บตัวอย่าง (TH)</label>
                                                        <input type="text" formControlName="nameTH" class="form-control" id="nameTH" placeholder="ชื่อวัตถุประสงค์การเก็บตัวอย่าง (TH)">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="nameEN" class="form-label">ชื่อวัตถุประสงค์การเก็บตัวอย่าง (EN)</label>
                                                        <input type="text" formControlName="nameEN" class="form-control" id="nameEN" placeholder="ชื่อวัตถุประสงค์การเก็บตัวอย่าง (EN)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="description" class="form-label">รายละเอียด</label>
                                                        <textarea [rows]="5"  formControlName="description" class="form-control custom-textarea" id="description" placeholder="รายละเอียด" pInputTextarea autoResize="false"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <!-- Row 1 -->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group-body-panel">  
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="isActive" class="form-label">สถานะการใช้งาน</label>
                                                        <div>
                                                            <p-checkbox name="isActive" id="isActive" binary="true" value="true" label="สามารถใช้งานได้" [formControl]="ContentForm.controls['isActive']"></p-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-component"> 
                                                    <div class="form-group clear-fix">
                                                        <label for="hasExtValue" class="form-label">สามารถกรอกข้อมูลเพิ่มเติม</label>
                                                        <div>
                                                            <p-checkbox name="hasExtValue" id="hasExtValue" binary="true" value="true" label="สามารถกรอกข้อมูลเพิ่มเติม" [formControl]="ContentForm.controls['hasExtValue']"></p-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="dialog-form-footer-body">
       <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
            <div class="form-group clear-fix">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-button-panel two-btn button-panel" *ngIf="actionForm == 'view'">  
                        <button type="submit" class="btn btn-block btn-light btn-save" (click)="ContentViewToEdit()">แก้ไข</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-button-panel two-btn button-panel" *ngIf="actionForm != 'view'">  
                        <button type="submit" class="btn btn-block btn-light btn-save" (click)="ContentSave()">บันทึก</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 form-button-panel two-btn button-panel">  
                        <button type="submit" class="btn btn-block btn-light btn-cancel" (click)="ContentReset()">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>