<nav class="navbar navbar-expand-lg navbar-light bg-success item-center padding-0 d-none d-sm-none d-md-none d-lg-block">
  <div class="row w-100 p0-m0">
    <div class="col-1 text-right padding-10">
      <img class="logo" src="./assets/images/logo.png" alt="">
    </div>
    <div class="col-3 color-white padding-10">
      <span>ฐานข้อมูลเพื่อการขึ้นทะเบียนสุนัข-แมว</span>
      <p>Pet Register</p>
    </div>
    <div class="col-8 p0-m0">
      <ul class="navbar-nav text-center color-white">
        <li class="nav-item" [ngClass]="currentPage == 'home' ? 'active' : ''" (click)="navigation('home')">
          <img class="icon" src="./assets/images/icon-menu-1.png" alt="">
          <p>หน้าหลัก</p>
        </li>
        <li class="nav-item" [ngClass]="currentPage == 'information' ? 'active' : ''" (click)="navigation('information')">
          <img class="icon" src="./assets/images/icon-menu-2.png" alt="">
          <p>ลงทะเบียน</p>
        </li>
        <li class="nav-item">
          <img class="icon" src="./assets/images/icon-menu-3.png" alt="">
          <p>แบบสำรวจ</p>
        </li>
        <li class="nav-item">
          <img class="icon" src="./assets/images/icon-menu-4.png" alt="">
          <p>แจ้งพบสัตว์</p>
        </li>
        <li class="nav-item">
          <img class="icon" src="./assets/images/icon-menu-5.png" alt="">
          <p>ส่งตัวอย่าง</p>
        </li>
        <li class="nav-item">
          <img class="icon" src="./assets/images/icon-menu-6.png" alt="">
          <p>รายงาน</p>
        </li>
        <li *ngIf="!userName" class="nav-item bg-white-menu" [ngClass]="currentPage == 'login' ? 'active' : ''" (click)="navigation('login')">
          <img class="icon" src="./assets/images/icon-menu-7-gr.png" alt="">
          <p>เข้าสู่ระบบ</p>
        </li>
        <li *ngIf="userName" class="nav-item dropdown bg-white-menu"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [ngClass]="currentPage == 'login' ? 'active' : ''">
          <img class="icon" src="./assets/images/icon-menu-usr.png" alt="">
          <p>{{userName}}</p>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"(click)="navigation('profile')">User Profile</a>
            <a *ngIf="userName === 'admin'" class="dropdown-item">News</a>
            <a *ngIf="userName === 'admin'" class="dropdown-item">Suspicious</a>
            <a *ngIf="userName === 'admin'" class="dropdown-item">Report</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-success item-center padding-0 d-none d-sm-block d-md-block d-lg-none">
  <div class="w-100">
    <div class="row p-md-toolbar">
      <div class="col-4 text-right">
        <img class="logo" src="./assets/images/logo.png" alt="">
      </div>
      <div class="col-8 color-white">
        <span>ฐานข้อมูลเพื่อการขึ้นทะเบียนสุนัข-แมว</span>
        <p>Pet Register</p>
      </div>
    </div>
    <div>
      <ul class="navbar-nav text-center color-white ml-auto flex-direction-row">
        <li class="nav-item active">
          <img class="icon" src="./assets/images/icon-menu-1.png" alt="">
          <p>หน้าหลัก</p>
        </li>
        <li class="nav-item">
          <img class="icon" src="./assets/images/icon-menu-2.png" alt="">
          <p>ลงทะเบียน</p>
        </li>
        <li class="nav-item">
          <img class="icon" src="./assets/images/icon-menu-3.png" alt="">
          <p>แบบสำรวจ</p>
        </li>
        <li class="nav-item">
          <img class="icon" src="./assets/images/icon-menu-4.png" alt="">
          <p>แจ้งพบสัตว์</p>
        </li>
        <li class="nav-item">
          <img class="icon" src="./assets/images/icon-menu-5.png" alt="">
          <p>ส่งตัวอย่าง</p>
        </li>
        <li class="nav-item">
          <img class="icon" src="./assets/images/icon-menu-6.png" alt="">
          <p>รายงาน</p>
        </li>
        <li class="nav-item bg-white-menu">
          <img class="icon" src="./assets/images/icon-menu-7-gr.png" alt="">
          <p>เข้าสู่ระบบ</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="d-block d-sm-block d-md-block d-lg-none ml-auto bg-white">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <div class="row">
            <div class="col-6 text-right">
              <img class="icon" src="./assets/images/icon-menu-1-gr.png" alt="">
            </div>
            <div class="col-6">
              หน้าหลัก
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col-6 text-right">
              <img class="icon" src="./assets/images/icon-menu-2-gr.png" alt="">
            </div>
            <div class="col-6">
              ลงทะเบียน
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col-6 text-right">
              <img class="icon" src="./assets/images/icon-menu-3-gr.png" alt="">
            </div>
            <div class="col-6">
              แบบสำรวจ
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col-6 text-right">
              <img class="icon" src="./assets/images/icon-menu-4-gr.png" alt="">
            </div>
            <div class="col-6">
              แจ้งพบสัตว์
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col-6 text-right">
              <img class="icon" src="./assets/images/icon-menu-5-gr.png" alt="">
            </div>
            <div class="col-6">
              ส่งตัวอย่าง
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col-6 text-right">
              <img class="icon" src="./assets/images/icon-menu-6-gr.png" alt="">
            </div>
            <div class="col-6">
              รายงาน
            </div>
          </div>
        </li>
        <li class="nav-item bg-success">
          <div class="row">
            <div class="col-6 text-right">
              <img class="icon" src="./assets/images/icon-menu-7.png" alt="">
            </div>
            <div class="col-6 color-white">
              เข้าสู่ระบบ
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-light bg-success item-center d-block d-sm-none d-md-none d-lg-none">
  <div class="d-block d-sm-block d-md-block d-lg-none w-100">
    <div class="row padding-16">
      <div class="col-4 text-right">
        <img class="logo" src="./assets/images/logo.png" alt="">
      </div>
      <div class="col-8 color-white">
        <span>ฐานข้อมูลเพื่อการขึ้นทะเบียนสุนัข-แมว</span>
        <p>Pet Register</p>
      </div>
    </div>
  </div>

  <div class="d-block d-sm-none d-md-none d-lg-none w-100">
    <div class="row padding-16">
      <div class="col-6">
        <p class="color-white">Menu</p>
      </div>
      <div class="col-6 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2"
          aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fa fa-bars color-white" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav2">
    <div class="d-block d-sm-block d-md-block d-lg-none ml-auto bg-white">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <div class="row">
            <div class="col-5 text-right">
              <img class="icon" src="./assets/images/icon-menu-1-gr.png" alt="">
            </div>
            <div class="col-7">
              หน้าหลัก
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col-5 text-right">
              <img class="icon" src="./assets/images/icon-menu-2-gr.png" alt="">
            </div>
            <div class="col-7">
              ลงทะเบียน
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col-5 text-right">
              <img class="icon" src="./assets/images/icon-menu-3-gr.png" alt="">
            </div>
            <div class="col-7">
              แบบสำรวจ
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col-5 text-right">
              <img class="icon" src="./assets/images/icon-menu-4-gr.png" alt="">
            </div>
            <div class="col-7">
              แจ้งพบสัตว์
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col-5 text-right">
              <img class="icon" src="./assets/images/icon-menu-5-gr.png" alt="">
            </div>
            <div class="col-7">
              ส่งตัวอย่าง
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="row">
            <div class="col-5 text-right">
              <img class="icon" src="./assets/images/icon-menu-6-gr.png" alt="">
            </div>
            <div class="col-7">
              รายงาน
            </div>
          </div>
        </li>
        <li class="nav-item bg-success">
          <div class="row">
            <div class="col-5 text-right">
              <img class="icon" src="./assets/images/icon-menu-7.png" alt="">
            </div>
            <div class="col-7 color-white">
              เข้าสู่ระบบ
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>