<div class="container-fluid">
    <nav class="nav-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">ข้อมูลสัตว์</li>
            <li class="breadcrumb-item">แบบสำรวจข้อมูลสัตว์</li>
            <li class="breadcrumb-item active" aria-current="page">สรุปข้อมูลแบบสำรวจ</li>
        </ol>
    </nav>     

    <div class="container-body">
        <div class="row">
            <!-- Summary Animal -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 card text-center mb-3 mh-card summary-card">
                <div class="card-body item-center bg-success summary-card-body">
                    <div class="row summary-card-body-row">
                        <div class="col-12 color-white summary-body">
                            <h3>สรุปจำนวนสัตว์ที่สำรวจ</h3>
                                <span class="mt-0">4,339,210 ตัว</span>
                            <hr/>

                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 summary-card-title">
                                    <h3>มีเจ้าของ (ตัว)</h3>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 summary-card-data">
                                    <span class="persen">(99.80%)</span><span class="summary">4,208,276</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 summary-card-title">
                                    <h3>ไม่มีเจ้าของ (ตัว)</h3>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 summary-card-data">
                                    <span class="persen">(0.20%)</span><span class="summary">8,477</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animal 1 -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 card mb-3 summary-animal-card">
                <div class="card-body item-center summary-animal-card-body">
                    <div class="row">
                        <div class="col-5 text-center animal-info">
                            <img src="./assets/images/icon-dog.png" alt="">
                            <h5 class="animal-name">สุนัข</h5>
                        </div>
                        <div class="col-7 animal-summary">
                            <div class="row">
                                <div class="col-12 animal-summary-header">
                                    <h3> มีเจ้าของ (ตัว) </h3>
                                </div>
                                <div class="col-12 animal-summary-data">
                                    <span>39,210</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 animal-summary-header">
                                    <h3> ไม่มีเจ้าของ (ตัว) </h3>
                                </div>
                                <div class="col-12 animal-summary-data">
                                    <span>1,339,210</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animal 2 -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 card mb-3 summary-animal-card">
                <div class="card-body item-center summary-animal-card-body">
                    <div class="row">
                        <div class="col-5 text-center animal-info">
                            <img src="./assets/images/icon-cat.png" alt="">
                            <h5 class="animal-name">แมว</h5>
                        </div>
                        <div class="col-7 animal-summary">
                            <div class="row">
                                <div class="col-12 animal-summary-header">
                                    <h3> มีเจ้าของ (ตัว) </h3>
                                </div>
                                <div class="col-12 animal-summary-data">
                                    <span>39,210</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 animal-summary-header">
                                    <h3> ไม่มีเจ้าของ (ตัว) </h3>
                                </div>
                                <div class="col-12 animal-summary-data">
                                    <span>1,339,210</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>              
</div>