<div class="container-fluid forget-password-component no-breadcrumb item-center">
    <div class="container-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 card mb-3 tab-component-card">
                 <form class="form-forget-password mt-3" name="forgetPasswordForm" [formGroup]="forgetPasswordForm">
                    <div class="card-body tab-component-card-body">
                        <div class="tab-body">
                            <ul class="nav text-center" role="tablist">
                                <li class="nav-item tab-item tab-header">
                                    <span class="nav-link nav-header" href="#forget-password" role="tab" data-toggle="tab">ค้นหาบัญชีผู้ใช้ของคุณ</span>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="forget-password">
                                <div class="content-container content-body-form">
                                    <div class="card-body content-card-body content-data-search">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-body">
                                                <!-- Row 1 -->
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-group-panel form-group-body-panel">  
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component"> 
                                                                <div class="form-group require label-inline clear-fix">
                                                                    <label for="username" class="form-label">ชื่อผู้ใช้งาน <span class="form-require">*</span></label>
                                                                    <input type="text" formControlName="username" class="form-control" id="username" name="username" placeholder="ชื่อผู้ใช้งาน">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component"> 
                                                                <div class="form-group label-inline clear-fix">
                                                                    <label for="email" class="form-label">อีเมลล์ <span class="form-require">*</span></label>
                                                                    <input type="text" formControlName="email" class="form-control" id="email" placeholder="อีเมลล์">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component"> 
                                                                <div class="form-group label-inline clear-fix">
                                                                    <label for="mobileNumber" class="form-label">เบอร์โทรศัพท์ <span class="form-require">*</span></label>
                                                                    <input type="text" formControlName="mobileNumber" class="form-control" id="mobileNumber" placeholder="เบอร์โทรศัพท์">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Row 1 -->
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-group-panel form-group-footer-panel">  
                                                        <div class="row">
                                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-component">  
                                                                <div class="form-group clear-fix">
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 form-button-panel one-btn button-panel">  
                                                                            <button type="submit" class="btn btn-block btn-light btn-register" (click)="RenewPassword()">สมัคร</button>

                                                                            <button type="submit" class="btn btn-block btn-light btn-cancel">ยกเลิก</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>